# Исследование надёжности заёмщиков

**Заказчик**: кредитный отдел банка  
**Задача**: выяснить, какие факторы (особенности заемщика) больше всего влияют на факт погашения кредита в срок  
**Данные**: Предоставлены банком — статистика о платёжеспособности клиентов  

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Общая-информация-об-исходных-данных" data-toc-modified-id="Общая-информация-об-исходных-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Общая информация об исходных данных</a></span><ul class="toc-item"><li><span><a href="#Вывод-(общая-информация)" data-toc-modified-id="Вывод-(общая-информация)-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Вывод (общая информация)</a></span></li></ul></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Обработка-пропусков" data-toc-modified-id="Обработка-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Обработка пропусков</a></span><ul class="toc-item"><li><span><a href="#Выявление-пропусков" data-toc-modified-id="Выявление-пропусков-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Выявление пропусков</a></span></li><li><span><a href="#Столбец-days_employed,-обработка-пропусков" data-toc-modified-id="Столбец-days_employed,-обработка-пропусков-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Столбец <code>days_employed</code>, обработка пропусков</a></span></li><li><span><a href="#Столбец-total_income,-обработка-пропусков" data-toc-modified-id="Столбец-total_income,-обработка-пропусков-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Столбец <code>total_income</code>, обработка пропусков</a></span></li><li><span><a href="#Вывод-(обработка-пропусков)" data-toc-modified-id="Вывод-(обработка-пропусков)-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Вывод (обработка пропусков)</a></span></li></ul></li><li><span><a href="#Замена-типов-данных" data-toc-modified-id="Замена-типов-данных-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Замена типов данных</a></span><ul class="toc-item"><li><span><a href="#Вывод-(замена-типов-данных)" data-toc-modified-id="Вывод-(замена-типов-данных)-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Вывод (замена типов данных)</a></span></li></ul></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Обработка дубликатов</a></span><ul class="toc-item"><li><span><a href="#Полные-дубликаты-строк" data-toc-modified-id="Полные-дубликаты-строк-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Полные дубликаты строк</a></span></li><li><span><a href="#Дубликаты-в-значениях-категориальных-переменных" data-toc-modified-id="Дубликаты-в-значениях-категориальных-переменных-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Дубликаты в значениях категориальных переменных</a></span></li><li><span><a href="#Дубликаты-и-артефакты-в-значениях-количественных-переменных" data-toc-modified-id="Дубликаты-и-артефакты-в-значениях-количественных-переменных-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Дубликаты и артефакты в значениях количественных переменных</a></span></li><li><span><a href="#Вывод-(обработка-дубликатов)" data-toc-modified-id="Вывод-(обработка-дубликатов)-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>Вывод (обработка дубликатов)</a></span></li></ul></li><li><span><a href="#Лемматизация" data-toc-modified-id="Лемматизация-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Лемматизация</a></span><ul class="toc-item"><li><span><a href="#Выделение-лемм-из-всего-ДФ" data-toc-modified-id="Выделение-лемм-из-всего-ДФ-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Выделение лемм из всего ДФ</a></span></li><li><span><a href="#Веделение-всех-лемм-для-каждой-строки-ДФ" data-toc-modified-id="Веделение-всех-лемм-для-каждой-строки-ДФ-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Веделение всех лемм для каждой строки ДФ</a></span></li><li><span><a href="#Выделение-значимых-лемм-для-каждой-строки-ДФ" data-toc-modified-id="Выделение-значимых-лемм-для-каждой-строки-ДФ-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Выделение значимых лемм для каждой строки ДФ</a></span></li><li><span><a href="#Проверка-правильности-значимых-лемм" data-toc-modified-id="Проверка-правильности-значимых-лемм-2.4.4"><span class="toc-item-num">2.4.4&nbsp;&nbsp;</span>Проверка правильности значимых лемм</a></span></li><li><span><a href="#Вывод-(лемматизация)" data-toc-modified-id="Вывод-(лемматизация)-2.4.5"><span class="toc-item-num">2.4.5&nbsp;&nbsp;</span>Вывод (лемматизация)</a></span></li></ul></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Категоризация данных</a></span><ul class="toc-item"><li><span><a href="#Перенос-повторяющихся-параметров-в-словари" data-toc-modified-id="Перенос-повторяющихся-параметров-в-словари-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Перенос повторяющихся параметров в словари</a></span></li><li><span><a href="#Классификация-по-значимым-признакам" data-toc-modified-id="Классификация-по-значимым-признакам-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Классификация по значимым признакам</a></span><ul class="toc-item"><li><span><a href="#Классификация-по-доходу" data-toc-modified-id="Классификация-по-доходу-2.5.2.1"><span class="toc-item-num">2.5.2.1&nbsp;&nbsp;</span>Классификация по доходу</a></span></li><li><span><a href="#Классификация-по-возрасту" data-toc-modified-id="Классификация-по-возрасту-2.5.2.2"><span class="toc-item-num">2.5.2.2&nbsp;&nbsp;</span>Классификация по возрасту</a></span></li></ul></li><li><span><a href="#Вывод-(категоризация-данных)" data-toc-modified-id="Вывод-(категоризация-данных)-2.5.3"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Вывод (категоризация данных)</a></span></li></ul></li></ul></li><li><span><a href="#Какие-факторы-больше-всего-влияют-на-факт-погашения-кредита-в-срок" data-toc-modified-id="Какие-факторы-больше-всего-влияют-на-факт-погашения-кредита-в-срок-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Какие факторы больше всего влияют на факт погашения кредита в срок</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-наличием-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-наличием-детей-и-возвратом-кредита-в-срок-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Зависимость между наличием детей и возвратом кредита в срок</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Влияет-ли-тип-занятости--заемщика-на-возврат-кредита-в-срок" data-toc-modified-id="Влияет-ли-тип-занятости--заемщика-на-возврат-кредита-в-срок-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Влияет ли тип занятости  заемщика на возврат кредита в срок</a></span></li><li><span><a href="#Влияет-ли-возраст-заемщика-на-возврат-кредита-в-срок" data-toc-modified-id="Влияет-ли-возраст-заемщика-на-возврат-кредита-в-срок-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Влияет ли возраст заемщика на возврат кредита в срок</a></span></li><li><span><a href="#Влияет-ли-образование-заемщика-на-возврат-кредита-в-срок" data-toc-modified-id="Влияет-ли-образование-заемщика-на-возврат-кредита-в-срок-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Влияет ли образование заемщика на возврат кредита в срок</a></span></li><li><span><a href="#Влияет-ли-пол-заемщика-на-возврат-кредита-в-срок" data-toc-modified-id="Влияет-ли-пол-заемщика-на-возврат-кредита-в-срок-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Влияет ли пол заемщика на возврат кредита в срок</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.8.1"><span class="toc-item-num">3.8.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Цели-кредита-для-разных-категорий-заемщиков" data-toc-modified-id="Цели-кредита-для-разных-категорий-заемщиков-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Цели кредита для разных категорий заемщиков</a></span><ul class="toc-item"><li><span><a href="#Цели-кредита-в-зависимости-от-уровня-дохода" data-toc-modified-id="Цели-кредита-в-зависимости-от-уровня-дохода-3.9.1"><span class="toc-item-num">3.9.1&nbsp;&nbsp;</span>Цели кредита в зависимости от уровня дохода</a></span></li><li><span><a href="#Цели-кредита-в-зависимости-от-семеного-положения" data-toc-modified-id="Цели-кредита-в-зависимости-от-семеного-положения-3.9.2"><span class="toc-item-num">3.9.2&nbsp;&nbsp;</span>Цели кредита в зависимости от семеного положения</a></span></li><li><span><a href="#Цели-кредита-в-зависимости-от-типа--занятости" data-toc-modified-id="Цели-кредита-в-зависимости-от-типа--занятости-3.9.3"><span class="toc-item-num">3.9.3&nbsp;&nbsp;</span>Цели кредита в зависимости от типа  занятости</a></span></li><li><span><a href="#Цели-кредита-в-зависимости-от-наличия-детей" data-toc-modified-id="Цели-кредита-в-зависимости-от-наличия-детей-3.9.4"><span class="toc-item-num">3.9.4&nbsp;&nbsp;</span>Цели кредита в зависимости от наличия детей</a></span></li><li><span><a href="#Цели-кредита-в-зависимости-от-возраста" data-toc-modified-id="Цели-кредита-в-зависимости-от-возраста-3.9.5"><span class="toc-item-num">3.9.5&nbsp;&nbsp;</span>Цели кредита в зависимости от возраста</a></span></li><li><span><a href="#Цели-кредита-в-зависимости-от-образования" data-toc-modified-id="Цели-кредита-в-зависимости-от-образования-3.9.6"><span class="toc-item-num">3.9.6&nbsp;&nbsp;</span>Цели кредита в зависимости от образования</a></span></li><li><span><a href="#Цели-кредита-в-зависимости-от-пола" data-toc-modified-id="Цели-кредита-в-зависимости-от-пола-3.9.7"><span class="toc-item-num">3.9.7&nbsp;&nbsp;</span>Цели кредита в зависимости от пола</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.9.8"><span class="toc-item-num">3.9.8&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Комбинации-самых-благонадежных-и-неблагонадежных-заемщиков" data-toc-modified-id="Комбинации-самых-благонадежных-и-неблагонадежных-заемщиков-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Комбинации самых благонадежных и неблагонадежных заемщиков</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.10.1"><span class="toc-item-num">3.10.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

## Общая информация об исходных данных

In [1]:
# импорт библиотек
import pandas as pd

from pymystem3 import Mystem # для лемматизации
from collections import Counter # для подсчета лемм

import warnings
warnings.filterwarnings("ignore")

Прочитаем файл `/datasets/data.csv` в переменную `df`

In [2]:
try:
    df = pd.read_csv('/datasets/data.csv')
except:
    df = pd.read_csv('data.csv')

Прочтем первые 5 строк таблицы для ознакомления

In [3]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

ДФ доступен для понимания. Визуально определяются: 
 - артефакты (минусовое или неадекватно большое количесто дней занятости)
 - дубликаты (вернхний/нижний регистр в столбце "образование").  
 
Имеются данные, необходимые для решения поставленной задачи: целевой признак  `debt`, и факторы, которые могут полиять на целевой признак.

-------
Вызовем метод `.info()` чтобы получить информацию о количестве столбцов и строк, а также типах данных в ДФ

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

* ДФ содержит 21525 строк (выборка достаточного объема) и 12 столбцов  
* Типы данных в большинстве столбцов адекватны. В столбцах `days_employed` и `total_income` более уместным типом данных были бы целые числа (это можно исправить позже)  
* Определяются пропуски данных в некоторых столбцах

--------------
Вызовем метод `.columns` чтобы посмотреть в каком состоянии названия колонок

In [5]:
print(df.columns)

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

Названия столбцов: 
* отражают сущность представленных в них данных.  
* состоят из латинских букв нижнего регистра и нижних подчеркиваний, пробелов не имеют.

### Вывод (общая информация)

* ДФ читабелен
* Размер выборки достаточный
* ДФ содержит необходимую информацию
* ДФ содержит ошибки  
* Требуется предобработка данных

## Предобработка данных

### Обработка пропусков

#### Выявление пропусков
Вызовем метод `.isna()` с методом `.sum()`, чтобы получить представление о количестве пропусков

In [6]:
df.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Что видим:
* Столбцы `days_employed` и `total_income` имеют по 2174 пропущенных значения

Нужно понять природу пропусков и решить что с ними делать (удалять строки, заменять значения и тп). 
Для этого ответим на вопросы:  
1. В - Какое общее число строк, где хотя бы одно значение пропущено? Всегда ли пропуск в `days_employed` означает пропуск в `total_income`?  
   О - Одинаковое количество пропусков намекает на то что да, всегда. В таком случае 10% строк ДФ содержат пустые значения (2174 из 21525). А что если пропуски в этих столбцах независимы друг от друга? Вероятность этого мала, но ее нельзя исключить, в таком случае до 20% сторок ДФ могут содержать пустые значения. Проверим.
   
2. В - Можно ли удалить строки с пустыми значениями?  
   О - Даже 10% - это достаточно большой процент строк, а значит совсем удалить эти строки не желательно (в них есть релевантная информация в других столбцах)

3.  В - Чем заменить пропуски?  
    О - Данные в столбцах `days_employed` и `total_income` представляют собой число с плавающей точкой, и следовательно являются количественной переменной. В этом случае допустима замена на характерные значения.

**Уточнение количества строк с пропусками**  


Чтобы узнать общее число строк, где хотя бы одно значение пропущено, проверим, действительно ли пропуск в `days_employed` означает пропуск в `total_income` (посмотрим количество строк в ДФ, отфильтрованном по пропущенным значениям `days_employed` И `total_income`)

In [7]:
df_na = df[(df['days_employed'].isna()) & (df['total_income'].isna())]
len(df_na)

2174

* Данные пропущены в 2174 строках, (~ 10% от всех строк ДФ), а значит:
* Пропускам значений `days_employed` соответствуют пропуски значений `total_income`
* Пропуски в данных не случайны

**Возможные причины пропусков:** 
* ДФ был склеен из нескольких (возможно ДФы разных банков или отделений, или старая/новая форма заявки). В одном или более из исходных ДФов столбцы стаж и доход отсутствовали.  
* На некоторые виды/цели кредита не требуется заполнение полей о стаже и доходе (маловероятно)
* На суммы кредита ниже определенной или на процентные ставки выше определенной или для держателей зарплатных карт банка не требуется указания стажа и дохода.
* Пропуски означают отсутсвие занятости и следовательно дохода (хотя вряд ли банк выдавал бы таким людям кредиты). Проверим эту гипотезу.

In [8]:
# проверим что за тип занятости у людей с пропущенным стажем и доходом
df_na['income_type'].value_counts()

сотрудник          1105
компаньон           508
пенсионер           413
госслужащий         147
предприниматель       1
Name: income_type, dtype: int64

Гипотеза не подтвердилась. Отусутвие стажа и дохода не говорит об отсутствии занятости. Придется исходить из того что данные просто отсутствуют.

#### Столбец `days_employed`, обработка пропусков
Пропуски в столбцах `days_employed` и `total_income`мы решили заменить характерными значениями, тк тип данных в этих столбцах позволяет это сделать.
Прежде чем что-то менять, оценим размах в этих столбцах - посмотрим максимальное и минимальное значения.

Сперва для столбца `days_employed`.

In [9]:
# выведем мин и макс кол-во рабочих дней, среднее, медиану, и разделим на кол-во дней в году чтобы получить стаж в годах
df['days_employed'].describe() / 365

count      53.016438
mean      172.730131
std       385.828252
min       -50.380685
25%        -7.527188
50%        -3.296903
75%        -0.797523
max      1100.699727
Name: days_employed, dtype: float64

Что видим: 
* самый большой стаж 1100 лет, самый маленький - отрицательный
* в среднем люди работали по 172 года (+ медиана отрицательная)  

Что-то пошло не так при заполнении данного столбца.
Отсортируем таблицу по столбцу `days_employed` и ради интереса посмотрим на данные по стажу из разных частей таблицы.

**Начало таблицы**

In [10]:
days_employed_sort = df.sort_values(by='days_employed', ascending=False).reset_index(drop=True)
print(days_employed_sort['days_employed'].loc[10:150])

10     401575.196728
11     401573.905288
12     401556.753550
13     401524.259153
14     401517.276388
           ...
146    398431.149722
147    398430.883402
148    398425.610289
149    398408.183052
150    398390.775395
Name: days_employed, Length: 141, dtype: float64

Строки ближе к началу - неправдоподобно большие числа

**Середина таблицы**

In [11]:
print(days_employed_sort['days_employed'].loc[3000:15000])

3000     338225.348240
3001     338149.190396
3002     338136.571070
3003     338113.529892
3004     338099.318407
             ...
14996     -2967.292449
14997     -2967.395051
14998     -2967.560890
14999     -2968.324198
15000     -2968.507884
Name: days_employed, Length: 12001, dtype: float64

Строки из середины - неправдоподобно большие и отрицательные числа

**Конец таблицы**

In [12]:
print(days_employed_sort['days_employed'].loc[19000:21000])

19000   -9302.734157
19001   -9319.721416
19002   -9327.745665
19003   -9330.106000
19004   -9366.156430
            ...
20996            NaN
20997            NaN
20998            NaN
20999            NaN
21000            NaN
Name: days_employed, Length: 2001, dtype: float64

Строки ближе к концу - отрицательные числа и отсутствующие значения

Что видим:  

* Возможно ошибка в хранении или при переносе данных, тк значения неадекватны для этого параметра
* Заменять отсутствующие данные средним или медианой нет смысла. Данные столбца не получится использовать по назначению для решения нашей задачи, поэтому столбец удалим (перезапишем ДФ без него).

In [13]:
df = df.drop(['days_employed'], axis='columns')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 11 columns):
children            21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(1), int64(5), object(5)
memory usage: 1.8+ MB

Осталось 11 столбцов. Столбец `days_employed` с неадекватными данными мы исключили из ДФ за непригодностью.

#### Столбец `total_income`, обработка пропусков
Аналогичным образом проверим столбец `total_income`. Оценим размах - посмотрим максимальное и минимальное значения, а также найдем среднее и медиану. Применим метод `.agg()`

In [14]:
df.agg({'total_income':['min','max','mean','median',]}).astype('int')

        total_income
min            20667
max          2265604
mean          167422
median        145017

Что видим:  
* Размах дохода достаточно большой (но правдоподобный, без минусов)
* Среднее арифметическое выше медианы: выборка имеет длинный хвост вправо (небольшое количество людей имеет очень высокий относительно всей выборки доход, смещая среднее). Значит для замены пропущенных значений лучше воспользоваться медианой  

Нужно проверить:  
1. Тк мы увидели большой размах в доходе, представляется, что доход (`total_income`) будет коррелировать с типом занятости (`income_type`), поэтому характерные значения для каждого типа занятости будут разными.  
2. Нужно посмотреть какое отношение пропущенных и непропущенных значений имеет каждый тип занятости, чтобы понять достаточна ли выборка непропущенных значений для того, чтобы присваивать ее медиану пропущенным значениям.

Сперва выявим возможную корреляцию между типом занятости и доходом. Найдем среднее и медиану для каждого типа занятости.

In [15]:
# среднее
mean_by_income = df.groupby('income_type')['total_income'].mean().sort_values(ascending=False)
mean_by_income

income_type
предприниматель    499163.144947
компаньон          202417.461462
госслужащий        170898.309923
сотрудник          161380.260488
пенсионер          137127.465690
безработный        131339.751676
студент             98201.625314
в декрете           53829.130729
Name: total_income, dtype: float64

In [16]:
# медиана
median_by_income = df.groupby('income_type')['total_income'].median().sort_values(ascending=False)
median_by_income

income_type
предприниматель    499163.144947
компаньон          172357.950966
госслужащий        150447.935283
сотрудник          142594.396847
безработный        131339.751676
пенсионер          118514.486412
студент             98201.625314
в декрете           53829.130729
Name: total_income, dtype: float64

Что видим:

* Корреляция дохода и типа занятости прослеживается довольно четко, и выглядит правдоподобно  
* В большинстве случаев среднее арифметическое выше медианы, как и во всей выборке (а значит для замены лучше использовать медиану)

А теперь посмотрим какое соотношение пропущенных и непропущенных значений дохода у каждого типа занятости.

In [17]:
# У каких типов занятости были пропущены значения дохода и сколько раз
df_na['income_type'].value_counts()

сотрудник          1105
компаньон           508
пенсионер           413
госслужащий         147
предприниматель       1
Name: income_type, dtype: int64

In [18]:
# Размер групп каждого типа занятости
df['income_type'].value_counts()

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
студент                1
в декрете              1
Name: income_type, dtype: int64

In [19]:
# Доля пропущенного дохода в каждом типе занятости
df_na['income_type'].value_counts() / df['income_type'].value_counts()

безработный             NaN
в декрете               NaN
госслужащий        0.100754
компаньон          0.099902
пенсионер          0.107106
предприниматель    0.500000
сотрудник          0.099379
студент                 NaN
Name: income_type, dtype: float64

Видим что:  
* В каждом типе занятости пропуски дохода составляют ~ 10% (у предпринимателей 50% тк пропущен 1 из 2)
* Значит доля непропущенных доходов достаточна, чтобы использовать ее характерное значение для заполнения пропущенных доходов.

Заменим отсутствующие значения столбца `total_income` на медианные значения этого столбца для каждого типа занятости. Для этого создадим словарь, где ключом будем тип занятости, а значением - медианный доход для этого типа занятости. Напишем функцию которая будет при помощи словаря заполнять отсутствующее значение столбца `total_income` медианным значением дохода для типа занятости данной строки. С помощью метода `.apply()`применим к столбцу `total_income`

In [20]:
median_incomes = df.groupby('income_type')['total_income'].median().to_dict() 
 
def fill_income(row):
    if pd.isna(row['total_income']):
        return median_incomes.get(row['income_type'])
    return row['total_income']
 
df['total_income'] = df.apply(fill_income, axis=1)

In [21]:
# проверим количество пропусков
df.isna().sum()

children            0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

От пропусков избавились, на всякий случай проверим еще столбец `total_income` на предмет медианы и среднего

In [22]:
df.agg({'total_income':['mean','median',]}).astype('int')

        total_income
mean          165225
median        142594

Медиана и среднее стали чуть меньше, что ожидаемо, тк стало больше людей со умеренным доходом, а предприниматель с высоким доходом добавился только один

#### Вывод (обработка пропусков)

* В ДФ были обнаружены пропуски в столбцах `days_employed` и `total_income`:
     * `days_employed` был уделен в связи с непригодностью данных для использования
     * в `total_income` пропущенные значения были заменены медианой для каждого типа занятости
* Пропуски в данных неслучайны и могли появиться в связи с отсутствием соответствующих полей в некоторых кредитных заявках или в исходных ДФ (в случае если ДФ был склеен)

### Замена типов данных

Посмотрим еще раз на типы данных в ДФ

In [23]:
df.dtypes

children              int64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income        float64
purpose              object
dtype: object

Типы данных кажутся адекватными. Можно заменить тип данных в `total_income` с плавающей точки на цельночисловой: так его будет удобнее воспринимать, да и годовой доход с точностью до копеек/центов нам знать не обязательно.

Воспользуемся методом `.astype()`

In [24]:
df['total_income'] = df['total_income'].astype('int')

Проверим что получилось - посмотрим верхние 5 строк дохода

In [25]:
df['total_income'].head()

0    253875
1    112080
2    145885
3    267628
4    158616
Name: total_income, dtype: int64

Числа целые, тип данных цельночисловой.

In [26]:
# перепроверим тип данных
df['total_income'].dtypes

dtype('int64')

Тип данных столбца `total_income` изменился с плавающей точки на цельночисловой. Преобразование типов данных прошло успешно

#### Вывод (замена типов данных)

Мы заменили тип данных в `total_income` с плавающей точки на цельночисловой. Теперь он занимает меньше места и его удобнее воспринимать.

### Обработка дубликатов

#### Полные дубликаты строк

Первым делом проверим ДФ на полностью задублированные строки. Применим метод `.duplicated()` и метод `.sum()`.

In [27]:
df.duplicated().sum()

54

Есть 54 строки-дубля. Вероятность того, что две или более реальные заявки могли иметь абсолютно одинаковое наполнение конечно есть, но в данном случае будем считать, что такая вероятность очень мала, и следовательно можно рассматривать такие строки как дубли. Прежде чем избавиться от них, посмотрим какой процент ДФ они составляют.

In [28]:
df.duplicated().sum() / len(df)

0.0025087108013937282

Менее одного процента (а именно, всего 1/4 процента). Удаление такого процента строк не должно исказить распределение, так что можем удалять.

Для удаления дублей строк используем метод `.drop_duplicates()`. Также сбосим старые индексы и заменим их на новые с помощью `.reset_index()`. Перезапишем ДФ без дубликатов

In [29]:
df = df.drop_duplicates().reset_index(drop=True)

Проверим что задублированных строк не осталось

In [30]:
df.duplicated().sum()

0

От задублированных строк избавились. Посмотрим информацию о количестве строк ДФ на всякий случай

In [31]:
len(df)

21471

Осталось 21471 строка. А было 21525 строк

In [32]:
21525 - len(df)

54

Все верно, 54 полных дубликата строк мы удалили

#### Дубликаты в значениях категориальных переменных

Столбцы с типом данных `object` содержат категориальные переменные и следовательно могут потенциально иметь дубликаты. Посмотрим какие это столбцы

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 11 columns):
children            21471 non-null int64
dob_years           21471 non-null int64
education           21471 non-null object
education_id        21471 non-null int64
family_status       21471 non-null object
family_status_id    21471 non-null int64
gender              21471 non-null object
income_type         21471 non-null object
debt                21471 non-null int64
total_income        21471 non-null int64
purpose             21471 non-null object
dtypes: int64(6), object(5)
memory usage: 1.8+ MB

Столбцов с типом данных `object` у нас 5 : это `education`, `family_status`, `gender`, `income_type`, `purpose`

Применим к каждому из них них метод `.value_counts()` (он выдает значения в столбик, так их удобно просматривать). Чтобы не делать этого вручную для каждого столбца, напишем короткую функцию, которая будет принимать в качестве аргументов ДФ и список столбцов, а возвращать будет значения в столбце и количество их упоминания.

In [34]:
object_type = ['education', 'family_status', 'gender', 'income_type', 'purpose']


def check_dups(df,columns):
    for item in columns:
        print('*', item)
        result = df[item].value_counts()
        print(result)
        print('---------')

check_dups(df,object_type)

* education
среднее                13705
высшее                  4710
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   273
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64
---------
* family_status
женат / замужем          12344
гражданский брак          4163
Не женат / не замужем     2810
в разводе                 1195
вдовец / вдова             959
Name: family_status, dtype: int64
---------
* gender
F      14189
M       7281
XNA        1
Name: gender, dtype: int64
---------
* income_type
сотрудник          11091
компаньон           5080
пенсионер           3837
госслужащий         1457
безработный            2
предприниматель        2
студент                1
в декрете              1
Name: income_type, dtype: int64
---------
* purpose
свадьба                                   793
на проведение свадьбы                     773
сыграть свадьбу                           769
операции с недвижимостью                  675
покупка коммерческой недвижимости         662
операции с жильем                         652
покупка жилья для сдачи                   652
операции с коммерческой недвижимостью     650
покупка жилья                             646
жилье                                     646
покупка жилья для семьи                   638
строительство собственной недвижимости    635
недвижимость                              633
операции со своей недвижимостью           627
строительство жилой недвижимости          625
покупка недвижимости                      621
покупка своего жилья                      620
строительство недвижимости                619
ремонт жилью                              607
покупка жилой недвижимости                606
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                494
сделка с подержанным автомобилем          486
свой автомобиль                           479
автомобили                                478
на покупку подержанного автомобиля        478
на покупку автомобиля                     472
приобретение автомобиля                   461
дополнительное образование                460
сделка с автомобилем                      455
высшее образование                        452
получение дополнительного образования     447
образование                               447
получение образования                     442
профильное образование                    436
получение высшего образования             426
заняться образованием                     408
Name: purpose, dtype: int64
---------

Что видим: 
 * столбцы `family_status`, `gender`, `income_type` выглядят нормально, дубликатов не наблюдаем
 * в столбце `purpose` налицо дубликаты из-за использования разных формулировок. Их можно будет обработать позже с помощью лемматизации, так как разные формулировки целей не позволят использовать прочие методы. 
 * в столбце `education` налицо дубликаты из-за использования разных регистров. Нужно привести к одному регистру
 
Возможные причины дубликатов: 
* Разные формулировки целей могут быть связаны с тем, что заявки заполнялись в разных формах (или даже разных банках), а некоторые цели возможно заполнялись произвольными формулировками, а не шаблонными.
* Использование разных регистров может быть связано с разным написанием в разных формах заявок, или с некорректным хранением / переносом данных.

Для приведения значений к нижнему регистру в столбце `education` применим метод `.str.lower()`

In [35]:
df['education'] = df['education'].str.lower()

Проверим что получилось, вызовем метод `.value_counts()` к столбцу `education`

In [36]:
df['education'].value_counts()

среднее                15188
высшее                  5251
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

Регистр унифицирован, дубли в столбце `education` устранены

#### Дубликаты и артефакты в значениях количественных переменных

Посмотрим на всякий случай на количественные переменные. Сложно представить какие там могут быть дубликаты, тем не менее, убедимся что с ними все в порядке.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 11 columns):
children            21471 non-null int64
dob_years           21471 non-null int64
education           21471 non-null object
education_id        21471 non-null int64
family_status       21471 non-null object
family_status_id    21471 non-null int64
gender              21471 non-null object
income_type         21471 non-null object
debt                21471 non-null int64
total_income        21471 non-null int64
purpose             21471 non-null object
dtypes: int64(6), object(5)
memory usage: 1.8+ MB

Количественные переменные в данном случае имеют цельночисловой тип данных `int64`. Таких столбцов у нас 6, это: `children`, `dob_years`, `education_id`, `family_status_id`, `debt`, `total_income`  
Столбец `total_income` проверять на дубли не будем (они там точно есть), а вот остальные проверим
Применим нашу функицю `check_dups` к списку из 5 столбцов с типом данных `int64`

In [38]:
int_type = ['children', 'dob_years', 'education_id', 'family_status_id', 'debt']

check_dups(df,int_type)

* children
 0     14107
 1      4809
 2      2052
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64
---------
* dob_years
35    616
40    607
41    606
34    601
38    597
42    596
33    581
39    572
31    559
36    554
44    545
29    544
30    538
48    537
37    536
50    513
43    512
32    509
49    508
28    503
45    497
27    493
56    484
52    484
47    477
54    476
46    473
53    459
57    456
58    456
51    448
55    443
59    443
26    408
60    374
25    357
61    354
62    349
63    269
24    264
64    262
23    253
65    194
22    183
66    182
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64
---------
* education_id
1    15188
0     5251
2      744
3      282
4        6
Name: education_id, dtype: int64
---------
* family_status_id
0    12344
1     4163
4     2810
3     1195
2      959
Name: family_status_id, dtype: int64
---------
* debt
0    19730
1     1741
Name: debt, dtype: int64
---------

Что видим: 
* столбцы `education_id`, `family_status_id`, `debt` не имеют дублей
* столбец `children` имеет артефакты: минусовое количество детей и 20 детей. Нужно с этим разобраться  
* столбец `dob_years` имеет артефакты: возраст заемщиков 0 лет. С этим тоже разберемся

**Столбец `children`**

In [39]:
df['children'].value_counts()

 0     14107
 1      4809
 2      2052
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

Минусовое количество детей невозможно. Минус мог закрасться при некорректном переносе данных, или (но менее вероятно) при заведении данных в анкету заемщика, где минус, возможно, использовали как дефис (например, строка могла выглядеть так: "Число детей -1"). В любом случае, самое правдоподобное объяснение - у 47 заемщиков не по -1 ребенку, а по 1.   
Чтобы это исправить, произведем замену -1 на 1. Воспользуемся методом `.abs()`, который приведет все числа в столбце `children` к их модулю.

In [40]:
df['children'] = df['children'].abs()

Проверим что получилось

In [41]:
df['children'].value_counts()

0     14107
1      4856
2      2052
3       330
20       76
4        41
5         9
Name: children, dtype: int64

Минусовых детей не осталось, они перешли в значение 1. Выглядит нормально.

Остаются 76 заемщиков у которых по 20 детей. И хотя в теории это возможно, вероятность того, что ни у одного заемщика нет 6-19 или 21+ детей, а сразу у 76 заемщиков есть именно 20 детей - очень мала. Более правдоподобно выглядит вариант, при котором 2 превратились в 20 (Например, при некорректном переводе числа с плавающей точкой 2.0 в целое число, или при неправильном хранении или переносе данных. Опечатка очень маловероятна: нужно было опечататься нулем 76 раз в цифре 2 и не разу в остальных цифрах).   
  
Посмотрим на всякий случай на этих людей с 20 детьми.

In [42]:
df[df['children'] == 20]

,children,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
606,20,21,среднее,1,женат / замужем,0,M,компаньон,0,145334,покупка жилья
720,20,44,среднее,1,женат / замужем,0,F,компаньон,0,112998,покупка недвижимости
1074,20,56,среднее,1,женат / замужем,0,F,сотрудник,1,229518,получение образования
2510,20,59,высшее,0,вдовец / вдова,2,F,сотрудник,0,264474,операции с коммерческой недвижимостью
2940,20,0,среднее,1,женат / замужем,0,F,сотрудник,0,199739,на покупку автомобиля
...,...,...,...,...,...,...,...,...,...,...,...
20958,20,40,среднее,1,женат / замужем,0,F,сотрудник,1,133524,свой автомобиль
21272,20,37,среднее,1,женат / замужем,0,F,компаньон,0,102986,профильное образование
21337,20,53,среднее,1,женат / замужем,0,M,компаньон,0,172357,покупка жилой недвижимости
21351,20,52,среднее,1,женат / замужем,0,M,компаньон,0,156629,операции со своей недвижимостью
21437,20,27,среднее,1,женат / замужем,0,F,сотрудник,0,155520,на покупку подержанного автомобиля

Люди как люди, пусть у них будет по 2 ребенка, а не по 20. Для этого воспользуемся заменой с помощью метода логической индексации

In [43]:
df.loc[df['children'] == 20, 'children'] = 2

Проверим что получилось

In [44]:
df['children'].value_counts()

0    14107
1     4856
2     2128
3      330
4       41
5        9
Name: children, dtype: int64

Значения 20 перешли в значение 2. Выглядит нормально.

**Столбец `dob_years`**

У нас обнаружились заемщики возрастом 0 лет. Посмотрим кто они

In [45]:
df[df['dob_years'] == 0]['income_type'].value_counts()

сотрудник      55
пенсионер      20
компаньон      20
госслужащий     6
Name: income_type, dtype: int64

Часть из них пенсионеры, они наверное старше, так что не хотелось бы усреднять возраст всех. Посмотрим среднее и медиану каждой из этих групп.

In [46]:
df[df['dob_years'] != 0].groupby('income_type').agg({'dob_years':['mean','median']})

                 dob_years
                      mean median
income_type
безработный      38.000000   38.0
в декрете        39.000000   39.0
госслужащий      40.815300   40.0
компаньон        39.853557   39.0
пенсионер        59.368090   60.0
предприниматель  42.500000   42.5
сотрудник        40.008427   39.0
студент          22.000000   22.0

Что видим: 
* Медиана и реднее практически не различаются, значит распределение значений нормлальное
* Пенсионеры действительно старше  

Используем медиану каждой из этих групп чтобы заменить нулевой возраст. Сделаем все по аналогии с доходом: в словарь запишем данные о медиане возраста для разных типов занятости, и функцией раздадим медианные значения в строки с нулевым возрастом, и методом `.apply()` применим это все к столбцу `dob_years`

In [47]:
median_ages = df.groupby('income_type')['dob_years'].median().to_dict()
 
def fill_age(row):
    if (row['dob_years']) == 0:
        return median_ages.get(row['income_type'])
    return row['dob_years']
 
df['dob_years'] = df.apply(fill_age, axis=1).astype('int')

Проверим остались ли заемщики с нулевым возрастом

In [48]:
df[df['dob_years'] == 0]['income_type'].value_counts()

Series([], Name: income_type, dtype: int64)

Похоже что нет. Посмотрим какие самые молодые.

In [49]:
df['dob_years'].min()

19

Моложе 19 лет заемщиков нет.  
Таким образом от нулевого возраста мы избавились

#### Вывод (обработка дубликатов)

* Мы удалили полностью задублированные строки методом `.drop_duplicates()`
* Устранили дубликаты в категориальных переменных, применив метод `.str.lower()` для приведения записей в нижний регистр  
* Обнаружили и устранили артефакты и дубликаты в количественных переменных
* Описали некоторые возможные причины появления дубликатов, среди которых самая частая возможная причина - ошибка при переносе данных.

### Лемматизация

Столбец `purpose` требует лемматизации из-за использования разных формулировок для одних и тех же целей кредита.

**План такой:** 
1. Сначала возьмем все цели из ДФ, превратим их в одну строку, из строки извлечем леммы. Так будет удобно оценить общее количество лемм, и главное визуально выделить значимые и незначимые леммы. Сделаем список значимых лемм.
2. Далее создадим новый столбец `lemma_strings` в ДФ, куда выведем списком все леммы столбца `purpose`, которые встретятся в данной строке. 
3. Создадим новый столбец `purpose_lemma`, куда при помощи сверки значений столбца `lemma_strings` со списком значимых лемм будем отправлять только значимые леммы.
4. Удостоверимся что значимые леммы выделены правильно

#### Выделение лемм из всего ДФ

Возьмем все цели из ДФ, превратим их в одну строку, из строки извлечем леммы. Так будет удобно оценить общее количество лемм, и главное визуально выделить значимые и незначимые леммы. Сделаем список значимых лемм.

In [50]:
#  Все цели кредита превратим из `Series` в `список`
to_lemmatize = df['purpose'].tolist()

In [51]:
# самопроверка. сравним количество строк в ДФ и длину списка
len(df) == len(to_lemmatize)

True

In [52]:
# Превратим список в строку чтобы передать для лемматизации
to_lemmatize = ' '.join(to_lemmatize)

In [53]:
# Посмотрим длину этой сторки
len(to_lemmatize)

492084

Почти полмиллиона слов!

In [54]:
# Передадим строку для лемматизации
m = Mystem()
lemmas = m.lemmatize(to_lemmatize)

In [55]:
# Передадим полученные леммы для подсчета
dict_lemmas = Counter(lemmas)
dict_lemmas

Counter({'покупка': 5900,
         ' ': 55066,
         'жилье': 4461,
         'приобретение': 461,
         'автомобиль': 4308,
         'дополнительный': 907,
         'образование': 4014,
         'сыграть': 769,
         'свадьба': 2335,
         'операция': 2604,
         'с': 2918,
         'на': 2228,
         'проведение': 773,
         'для': 1290,
         'семья': 638,
         'недвижимость': 6353,
         'коммерческий': 1312,
         'жилой': 1231,
         'строительство': 1879,
         'собственный': 635,
         'подержать': 853,
         'свой': 2231,
         'со': 627,
         'заниматься': 904,
         'сделка': 941,
         'получение': 1315,
         'высокий': 1374,
         'подержанный': 111,
         'профильный': 436,
         'сдача': 652,
         'ремонт': 607,
         '\n': 1})

Лемм получилось совсем не много, посмотрим сколько

In [56]:
len(dict_lemmas)

32

Из полумиллиона слов выделено всего 32 леммы. Посмотрим на них глазами и решим какие нужны, а какие можно отбросить: 
* сразу отбрасываем пробелы и служебные слова (с, со, для, на и тп)
* значимые леммы это `['недвижимость', 'жилье', 'автомобиль', 'образование', 'свадьба', 'ремонт']` - в дальнейшем используем этот список значимых лемм чтобы выделять значимые леммы для каждой строки
* под вопросом значимость лемм `['строительство', 'операция', 'семья']` - надо будет их проверить в том случае, если останутся незаполенные значимые леммы
* остальные леммы можно считать не значимыми, тк понятно, что если это жилье - то его покупают, если это образование - то его получают, если свадьба - ее играют и тп

#### Веделение всех лемм для каждой строки ДФ

Создадим новый столбец `lemma_strings` в ДФ, куда выведем все леммы столбца `purpose`, которые встретятся в данной строке. Для этого напишем функцию, которая будет принимать в качестве аргумента значение столбца `purpose`, и возвращать список лемм

In [57]:
def purpose_to_lemma_strings(purpose):
    lemmas_for_row = m.lemmatize(purpose)
    return lemmas_for_row

df['lemma_strings'] = df['purpose'].apply(purpose_to_lemma_strings)

Проверим что получилось

In [58]:
df[['purpose', 'lemma_strings']].head()

                      purpose                         lemma_strings
0               покупка жилья               [покупка,  , жилье, \n]
1     приобретение автомобиля     [приобретение,  , автомобиль, \n]
2               покупка жилья               [покупка,  , жилье, \n]
3  дополнительное образование  [дополнительный,  , образование, \n]
4             сыграть свадьбу             [сыграть,  , свадьба, \n]

Теперь у нас есть столбец `lemma_strings` со списком лемм для каждой строки. Однако, все леммы нам не нужны, а нужны только значимые. В следующем шаге разберемся с этим.

#### Выделение значимых лемм для каждой строки ДФ

Выделим значимые леммы из столбца `lemma_strings` , и поместим их в отдельный столбец `purpose_lemma`.
Для этого методу `.apply()` передадим функцию, которая будет сверять списки лемм для каждой строки со списком значимых лемм (который мы возьмем из пункта [**2-04-01**](#2-04-01)), и возвращать только значимые леммы для каждой строки.

In [59]:
def strings_to_purpose_lemma(lemma_strings):
    purpose_lemma_list = ['недвижимость', 'жилье', 'автомобиль', 'образование', 'свадьба', 'ремонт']
    for item in lemma_strings:
        for lemma in purpose_lemma_list:
            if lemma == item:
                return lemma


df['purpose_lemma'] = df['lemma_strings'].apply(strings_to_purpose_lemma)

Проверим что получилось

In [60]:
df[['purpose','lemma_strings','purpose_lemma']].head()

,purpose,lemma_strings,purpose_lemma
0,покупка жилья,"[покупка, , жилье, \n]",жилье
1,приобретение автомобиля,"[приобретение, , автомобиль, \n]",автомобиль
2,покупка жилья,"[покупка, , жилье, \n]",жилье
3,дополнительное образование,"[дополнительный, , образование, \n]",образование
4,сыграть свадьбу,"[сыграть, , свадьба, \n]",свадьба

Теперь у нас есть столбец `purpose_lemma`, где для каждой строки указана значимая лемма, на которую можно ориентироваться.  
Проверим что каждой строке присвоена значимая лемма (посчитаем количество строк, у которых есть пропуск в столбце `purpose_lemma`).

In [61]:
df['purpose_lemma'].isna().sum()

0

Пустых значений в столбце `purpose_lemma` не осталось, значит всем присвоены значимые леммы.

#### Проверка правильности значимых лемм

Сначала посмотрим как часто и на что брали кредиты

In [62]:
df['purpose_lemma'].value_counts()

недвижимость    6353
автомобиль      4308
образование     4014
жилье           3854
свадьба         2335
ремонт           607
Name: purpose_lemma, dtype: int64

Чаще всего брали на недвижимость, если прибавить туда еще и жилье, то это примено 50% всех кредитов.  
Примерно по 20% приходится на образование и авто, и около 10% на свадьбы. На ремонт приходтся лишь малая часть кредитов, по которой нельзя будет сделать стаистически значимый вывод

Возникает пара вопросов:  
* Объединять ли жилье и недвижимость?   
Конечно, жилье и недвижимость имеют больше общего чем жилье и автомобиль, например. Однако, представляется, что жилье это что-то необходимое для жизни, тогда как недвижимость - скорее актив. Возможно это даже будут разные категории заемщиков, поэтому объединять их пока не будем.
* Выделять ли ремонт отдельно?  
Что это за ремонт? Ради интереса посмотрим что ремонтировали.

In [63]:
remont = df[df['purpose_lemma'] == 'ремонт']
remont['purpose'].unique()

array(['ремонт жилью'], dtype=object)

Ремонтировали жилье.  
Представляется, что ремонт жилья все же имеет смысл выделять отдельной леммой (хоть это и совсем небольшая группа), а не относить его к жилью. Покупка жилья и ремонт жилья это все-таки разные вещи (и бюджеты), а возможно и разные категории заемщиков.

Леммы, значимость которых была под вопросом (`['строительство', 'операция', 'семья']`) можно смело отметать: все они по сымслу относятся к жилью/недвижимости.

#### Вывод (лемматизация)

Мы провели лемматизацию столбца `purpose`, в итоге получили новый столбец `purpose_lemma`, где однозначно указана значимая лемма для каждой строки. По ходу этого всего у нас добавилось столбцов в таблице, но мы это поправим когда будем категоризировать данные.  
В итоге целей кредита оказалось всего 6 - не так много, как казалось вначале из-за различных формулировок одних и тех же целей.

### Категоризация данных

План такой:  
1. Сначала сделаем словари по типам данных чтобы разгрузить ДФ чтобы он стал более удобным для восприятия. Для параметров, у которых есть также id, оставим в ДФ id, а соответствия id и их параметров будем хранить в отдельных ДФ ("словарях")
2. Посмотрим по каким признакам можно классифицировать заемщиков (пока предполагаем что по возрасту и доходу), и по каким они уже классифицированы.

#### Перенос повторяющихся параметров в словари

Для начала посмотрим какие параметры повторяются в ДФ, то есть имеют значения и id

In [64]:
df.columns

Index(['children', 'dob_years', 'education', 'education_id', 'family_status',
       'family_status_id', 'gender', 'income_type', 'debt', 'total_income',
       'purpose', 'lemma_strings', 'purpose_lemma'],
      dtype='object')

Видим, что параметры с id это: 
1. `education` с id `education_id`
2. `family_status` с id `family_status_id`

Отвравим их в отдельные ДФы, чтобы они не загружали таблицу.  
Для этого сохраним столбцы `education` и `education_id` в переменной `education_dict`, а столбцы `family_status` и `family_status_id` в переменной `family_status_dict`

In [65]:
education_dict = df[['education', 'education_id']]
family_status_dict = df[['family_status', 'family_status_id']]

Посмотрим что получилось

In [66]:
education_dict.info()
education_dict.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 2 columns):
education       21471 non-null object
education_id    21471 non-null int64
dtypes: int64(1), object(1)
memory usage: 335.6+ KB

  education  education_id
0    высшее             0
1   среднее             1
2   среднее             1
3   среднее             1
4   среднее             1

In [67]:
family_status_dict.info()
family_status_dict.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 2 columns):
family_status       21471 non-null object
family_status_id    21471 non-null int64
dtypes: int64(1), object(1)
memory usage: 335.6+ KB

      family_status  family_status_id
0   женат / замужем                 0
1   женат / замужем                 0
2   женат / замужем                 0
3   женат / замужем                 0
4  гражданский брак                 1

Видим что новых ДФ столько же строк сколько в исходном. Визуально определяются дубли, удалим их из обоих ДФ методом `.drop_duplicates()` и заодно обнулим индексы методом `.reset_index()`. Перезапишем "словари" без дубликатов.

In [68]:
education_dict = education_dict.drop_duplicates().reset_index(drop=True)
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)

Проверим что получилось:

In [69]:
education_dict.info()
education_dict.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
education       5 non-null object
education_id    5 non-null int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [70]:
family_status_dict.info()
family_status_dict.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
family_status       5 non-null object
family_status_id    5 non-null int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

В итоге получили по два коротких понятных ДФ, длиной по 5 строк каждый. На них можно будет ссылаться, если потребуется.

Еще на всякий случай сделаем "словарь" для целей кредиата: у нас получилось целых три столбца, которые отвечают за цели, оставим только один - `purpose_lemma`. А из всех трех сделаем один ДФ `purpose_dict` - "словарь", мало ли потребуется посмотреть изначальную формулировку цели кредита.

In [71]:
purpose_dict = df[['purpose', 'lemma_strings', 'purpose_lemma']]
purpose_dict.head()

,purpose,lemma_strings,purpose_lemma
0,покупка жилья,"[покупка, , жилье, \n]",жилье
1,приобретение автомобиля,"[приобретение, , автомобиль, \n]",автомобиль
2,покупка жилья,"[покупка, , жилье, \n]",жилье
3,дополнительное образование,"[дополнительный, , образование, \n]",образование
4,сыграть свадьбу,"[сыграть, , свадьба, \n]",свадьба

In [72]:
purpose_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 3 columns):
purpose          21471 non-null object
lemma_strings    21471 non-null object
purpose_lemma    21471 non-null object
dtypes: object(3)
memory usage: 503.4+ KB

Выглядит нормально, количество строк осталось прежним.

Здесь же можем и подчистить наш изначальный ДФ. Его можно перезаписать без следующих столбцов:
* `education` и `family_status` - они не требуются тк теперь они есть в "словарях", а в основном ДФ будут представлены  айдишниками
* `purpose` и `lemma_strings` - они нам теперь никак не помогут, вместо них есть один понятный столбец `purpose_lemma`, куда вынесена значимая лемма цели кредита

Запишем обновленный улучшенный ДФ в новую переменную, на всякий случай (мало ли нужно будет позже обратиться к полной версии ДФ)

In [73]:
df_scoring = df[['children', 'dob_years', 'education_id', 'family_status_id', 'gender',
                 'income_type', 'debt', 'total_income', 'purpose_lemma']]
df_scoring.head()

,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma
0,1,42,0,0,F,сотрудник,0,253875,жилье
1,1,36,1,0,F,сотрудник,0,112080,автомобиль
2,0,33,1,0,M,сотрудник,0,145885,жилье
3,3,32,1,0,M,сотрудник,0,267628,образование
4,0,53,1,1,F,пенсионер,0,158616,свадьба

Стало визуально лучше. Проверим на всякий случай информацию об этом новом ДФ, сравним с тем, что было.

In [74]:
# Было так:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 13 columns):
children            21471 non-null int64
dob_years           21471 non-null int64
education           21471 non-null object
education_id        21471 non-null int64
family_status       21471 non-null object
family_status_id    21471 non-null int64
gender              21471 non-null object
income_type         21471 non-null object
debt                21471 non-null int64
total_income        21471 non-null int64
purpose             21471 non-null object
lemma_strings       21471 non-null object
purpose_lemma       21471 non-null object
dtypes: int64(6), object(7)
memory usage: 2.1+ MB

In [75]:
# Стало так
df_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21471 entries, 0 to 21470
Data columns (total 9 columns):
children            21471 non-null int64
dob_years           21471 non-null int64
education_id        21471 non-null int64
family_status_id    21471 non-null int64
gender              21471 non-null object
income_type         21471 non-null object
debt                21471 non-null int64
total_income        21471 non-null int64
purpose_lemma       21471 non-null object
dtypes: int64(6), object(3)
memory usage: 1.5+ MB

Видим что: 
* Было 13 колонок, осталось 9. 
* Количество строк не изменилось. 
* С типами данных все в порядке. 
* Новый ДФ занимает меньше места.

Проверим на дубликаты на всякий случай, ведь теперь разнородные формулировки целей кредита заменены на значимые леммы (коотрых всего 6).

In [76]:
df_scoring.duplicated().sum()

248

Чтобы понять, можно ли удалить эти дубликаты, проверим значения столбца `total_income` и `dob_years` для всех этих дубликатов. Не те ли это строки, которым мы присваивали медианные значения дохода и возраста.

In [77]:
df_scoring[df_scoring.duplicated()]['total_income'].value_counts()

142594    132
118514     78
172357     34
150447      4
Name: total_income, dtype: int64

In [78]:
df_scoring[df_scoring.duplicated()]['dob_years'].value_counts()

47    11
49    11
42    10
64    10
57    10
60     9
58     9
56     9
54     8
50     8
53     8
33     7
43     7
52     7
23     7
62     7
55     6
45     6
30     6
35     6
39     6
40     6
51     6
63     6
48     5
44     5
41     5
28     5
66     4
29     4
36     4
61     4
31     3
27     3
71     3
46     3
59     3
65     3
67     2
38     2
32     1
34     1
26     1
68     1
Name: dob_years, dtype: int64

Что видим: 
* Глядя на значения дохода для задублированных строк видим, что это действительно те 4 медианных значения дохода, которые мы присвоили вместо пустых. 
* С возрастом сложнее: мы присваивали 4 медианных значения, а здесь значений явно больше. 

Что думаем:
* То есть какая-то часть из этих заемщиков в изначальном ДФ имела возраст, но никто из них не имел дохода. То есть все они находились среди этих 2174 строк, которые имели пропуск в доходе и стаже.
* Мы помним что эти 2174 строк составляли всего 10% изначального ДФ. При этом когда мы выявляли полные дубликаты в ДФ их было ~ 50 на ~20000 строк. А после преобразования цели в леммы, здесь их стало 248 на 2174 строк. В процентном соотношении раз в 40 больше. 
* Учитывая что эти 2174 строки уже изначально вызывали подозрение в неправильном хранении или переносе данных, можно допустить что и цели кредита хранились в них неправильно. Все больше и больше выглядит так, что это действительно задублированные строки, и можно от них избавиться, тем более что это всего чуть больше 1% ДФ.

In [79]:
# Избавимся от дубликатов
df_scoring = df_scoring.drop_duplicates().reset_index()
# Проверим что их не осталось
df_scoring.duplicated().sum()

0

In [80]:
# проверим на всякий случай инфо о ДФ
df_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21223 entries, 0 to 21222
Data columns (total 10 columns):
index               21223 non-null int64
children            21223 non-null int64
dob_years           21223 non-null int64
education_id        21223 non-null int64
family_status_id    21223 non-null int64
gender              21223 non-null object
income_type         21223 non-null object
debt                21223 non-null int64
total_income        21223 non-null int64
purpose_lemma       21223 non-null object
dtypes: int64(7), object(3)
memory usage: 1.6+ MB

В этом пункте мы: 
* перенесли повторяющиеся параметры в "словари"
* удалили несколько ненужных столбцов из ДФ `df`
* перезаписали ДФ в новую переменную `df_scoring`
* удалили дубли строк которые образовались в связи заменой столбца `purpose` на `purpose_lemma`

#### Классификация по значимым признакам

Посмотрим по каким признакам заемщики уже классифицированы, и по каким еще признакам можно их классифицировать

In [81]:
df_scoring.head()

,index,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma
0,0,1,42,0,0,F,сотрудник,0,253875,жилье
1,1,1,36,1,0,F,сотрудник,0,112080,автомобиль
2,2,0,33,1,0,M,сотрудник,0,145885,жилье
3,3,3,32,1,0,M,сотрудник,0,267628,образование
4,4,0,53,1,1,F,пенсионер,0,158616,свадьба

Похоже, что заемщики уже классифицированы по следующим признакам:
* количество детей
* образование
* семейное положение
* пол
* тип занятости
* наличие/отсутствие задолженности
* лемма цели кредита  

Похоже, что заемщиков также можно классифицировать по следующим признакам:
* возраст
* доход

Стобцы `dob_years` и `total_income` содержат количественные переменные, поэтому нужно придумать как их классифицировать.  

Например, по уровню дохода классификация может быть такая:
* Богатые
* Середнячки
* Бедные

По возрасту, например так:
* Молодые
* Взрослые
* Пожилые

Вот только как придумать эту границу, где заканчивается одна группа и начинается другая. И если с возрастом еще более или менее понятно, то с доходом все сложнее.

##### Классификация по доходу

Можно например: 
* Использовать стандартное отклонение
* Использовать квантили
* Использовать интерквартильный размах
* Прикинуть на глаз

Проблема стандартного отклонения в том, что его можно использовать только в нормальном распределении, а это распределение, как мы уже видели не совсем нормальное, имеет хвост вправо (среднее больше медианы).  

Как частный случай квантилей можно использовать интерквартальный размах. Правда крайние группы будут в два раза меньше средней. 

Прикидывать на глаз кажется очень проблематичным в связи с большим размером выборки.  

Таким образом деление на квантили пока остается нашим единственным вариантом.

Будем рассуждать по ходу. Начнем с того, что посмотрим минимальный и максимальный доход, определим размах.

In [82]:
income_min_scoring = df_scoring['total_income'].min()
income_max_scoring = df_scoring['total_income'].max()
income_range = income_max_scoring - income_min_scoring
print('Минимальный доход =', income_min_scoring)
print('Максимальный доход =', income_max_scoring)
print('Размах дохода =', income_range)
print('Минимальный и максимальный доход отличаются в', income_max_scoring / income_min_scoring, 'раз')

Минимальный доход = 20667
Максимальный доход = 2265604
Размах дохода = 2244937
Минимальный и максимальный доход отличаются в 109.62423186722795 раз

Попробуем, например, воспользоваться функцией `.qcut()` которая режет Series на квантили с одинаковым количеством элементов. Для начала порежем на 4 квартиля.

In [83]:
pd.qcut(df_scoring['total_income'],4)

0        (196580.5, 2265604.0]
1         (106992.0, 142594.0]
2         (142594.0, 196580.5]
3        (196580.5, 2265604.0]
4         (142594.0, 196580.5]
                 ...
21218    (196580.5, 2265604.0]
21219     (142594.0, 196580.5]
21220    (20666.999, 106992.0]
21221    (196580.5, 2265604.0]
21222    (20666.999, 106992.0]
Name: total_income, Length: 21223, dtype: category
Categories (4, interval[float64]): [(20666.999, 106992.0] < (106992.0, 142594.0] < (142594.0, 196580.5] < (196580.5, 2265604.0]]

Что видим:
* Размах внутри групп не одинаковый.
* Особенно настораживает четвертый квартиль: вряд ли будет удачной идеей считать одинаково богатыми людей, которые зарабатывают в 10 раз больше минимума и в 100 раз больше минимума. 
* Тольшой размах в четвертом квартиле говорит о том, что у распределения очень длинный хвост вправо.

Посмотрим ради интереса какая нижняя граница дохода у заемщиков в 99 персентиле.

Сначала узнаем сколько заемщиков в 99 персентиле

In [84]:
(len(df_scoring) * 0.01)

212.23000000000002

Будем считать что 212. Теперь отсотрируем наш ДФ по убыванию дохода, переназначим индексы, и посмотрим значение дохода под индексом 211

In [85]:
min_income_top_1 = df_scoring.sort_values(by='total_income',ascending=False).reset_index(drop=True)['total_income'][211]
min_income_top_1

506773

А вот это интересно, в 99 персентиле минимальный доход равен 506773. Посчитаем размах в 99 персентиле:

In [86]:
top_pctl_range = income_max_scoring - min_income_top_1
top_pctl_range

1758831

Примерно 1,76 млн! И это в то время, как общий размах дохода всей выборки равен примерно 2,24 млн (проверим)

In [87]:
income_range

2244937

То есть получется что:

In [88]:
print('99% выборки имеет доход в диапазоне от', income_min_scoring, 'до', min_income_top_1)
print('То есть размах дохода для 99% выборки составляет всего', min_income_top_1 - income_min_scoring)

99% выборки имеет доход в диапазоне от 20667 до 506773
То есть размах дохода для 99% выборки составляет всего 486106

Всего 486 тыс! Это не 2,24 млн. Доходы 506773 и более имеют всего 1% выборки. Хвост вправо действительно длинюющий.  
Представляется, что мы можем этот 1% причислить к супер богатым, а 99% данных (практически весь оставшийся объем данных!) еще раз прогнать по квартилям. Сделаем новый ДФ с доходом меньшим 506773 и разделим на квартили.

In [89]:
df_scoring_99 = df_scoring[df_scoring['total_income'] < 506773]
pd.qcut(df_scoring_99['total_income'],4)

0         (194431.0, 506283.0]
1         (106601.5, 142594.0]
2         (142594.0, 194431.0]
3         (194431.0, 506283.0]
4         (142594.0, 194431.0]
                 ...
21218     (194431.0, 506283.0]
21219     (142594.0, 194431.0]
21220    (20666.999, 106601.5]
21221     (194431.0, 506283.0]
21222    (20666.999, 106601.5]
Name: total_income, Length: 21011, dtype: category
Categories (4, interval[float64]): [(20666.999, 106601.5] < (106601.5, 142594.0] < (142594.0, 194431.0] < (194431.0, 506283.0]]

Это уже другое дело. Первые три квартиля почти не изменились, а вот четвертый выглядит более адекватно.  
Используем эти 4 группы для классификации, и пятой маленькой группой будут супер богатые люди. Это будет маленькая группа, и по ним мы не сможем сделать статистически значимого вывода, но представляется что причислять их к обычным богатым людфм было бы неправильно.

**5 категорий по уровню дохода:** 

1. Бедные (первый квартиль из 99% данных: **`total_income` <= 106601**)
2. Ниже среднего (второй квартиль из 99% данных: **106601 < `total_income` <= 142594**)
3. Выше среднего (третий квартиль из 99% данных: **142594 < `total_income` <= 194431**)
4. Богатые (четвертый квартиль из 99% данных: **194431 < `total_income` <= 506283**)
4. Зажиточные (1% из 99% данных: **`total_income` > 506283**)

Сделаем сразу "словарь", чтобы хранить эти соответствия

In [90]:
inc_data = [
    ['бедные',20666,106601 ],
    ['ниже сред', 106601, 142594],
    ['выше сред', 142594, 194431],
    ['богатые', 194431, 506283],
    ['зажиточные', 506283, 2265604]
]
inc_col = ['income_class', '>', '<=']
income_dict = pd.DataFrame(data=inc_data,columns=inc_col)
income_dict

  income_class       >       <=
0       бедные   20666   106601
1    ниже сред  106601   142594
2    выше сред  142594   194431
3      богатые  194431   506283
4   зажиточные  506283  2265604

Нужно теперь создать новый столбец `income_class` в ДФ `df_scoring` и в нем для каждой строки проставить одну из четырех категорий согласно уровню дохода. Для этого напишем функцию которая будет принимать в качестве аргумента значение столбца `total_income`, а возвращать соответствующее значение категории дохода. И с помощью метода `.apply()` применим эту функцию к столбцу `total_income`

In [91]:
def assign_income_class(total_income):
    if total_income <= 106601:
        return 'бедные'
    elif 106601 < total_income <= 142594:
        return 'ниже сред'
    elif 142594 < total_income <= 194431:
        return 'выше сред'
    elif 194431 < total_income <= 506283:
        return 'богатые'
    else:
        return 'зажиточные'
    

df_scoring['income_class'] = df_scoring['total_income'].apply(assign_income_class)

In [92]:
df_scoring.head()

,index,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma,income_class
0,0,1,42,0,0,F,сотрудник,0,253875,жилье,богатые
1,1,1,36,1,0,F,сотрудник,0,112080,автомобиль,ниже сред
2,2,0,33,1,0,M,сотрудник,0,145885,жилье,выше сред
3,3,3,32,1,0,M,сотрудник,0,267628,образование,богатые
4,4,0,53,1,1,F,пенсионер,0,158616,свадьба,выше сред

Выглядит нормально. Проверим что никто не остался без класса по уровню дохода

In [93]:
df_scoring['income_class'].isna().sum()

0

Класс дохода всем присвоен. И еще проверим размер получившихся групп

In [94]:
df_scoring['income_class'].value_counts()

ниже сред     5395
бедные        5253
богатые       5253
выше сред     5110
зажиточные     212
Name: income_class, dtype: int64

Итого: 
* Получилось 4 примерно одинаковые группы, плюс одна очень маленькая группа зажиточных людей. 
* Сложно сказать обращаются ли они за кредитами относительно реже, чем  люди с более низким доходом, ведь зажиточных в реальной жизни в абсолютных цифрах меньньше чем не зажиточных. Возможно они обращаются с той же интенсивностью. А может быть они и обращаются относительно реже, ведь они зажиточные, и на большинство нужд деньги у них есть. Интересно будет потом посмотреть на что эти люди вообще берут кредиты.

##### Классификация по возрасту

Теперь нужно категоризировать по возрасту, это должно быть проще.

Сначала посмотрим минимальный и максимальный возраст

In [95]:
df_scoring['dob_years'].min()

19

In [96]:
df_scoring['dob_years'].max()

75

Заемщикам от 19 до 75 лет

Мы знаем что среди заемщиков есть пенсионеры. Можно ли причислить всех пенсионеров к старшей возрастной группе? Будет хорошей идеей посмотреть минимальный возраст пенсионера, и максимальный возраст не пенсионера.  

Сначала посмотрим пятерку самых молодых пенсионеров.

In [97]:
df_scoring[df_scoring['income_type'] == 'пенсионер'].sort_values(by='dob_years').head()

,index,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma,income_class
1239,1242,0,22,1,4,F,пенсионер,0,89368,образование,бедные
3606,3618,0,24,1,0,F,пенсионер,0,118514,жилье,ниже сред
19187,19395,0,26,0,0,F,пенсионер,0,214963,недвижимость,богатые
15995,16139,0,26,1,1,M,пенсионер,0,80044,автомобиль,бедные
12404,12491,0,27,1,4,F,пенсионер,0,50969,автомобиль,бедные

Вот это поворот. То есть мы не можем причислить людей в старшую возрастную группу только на основании того что они пенсионеры.

А теперь посмотрим пятерку самых возрастных не пенсионеров

In [98]:
df_scoring[df_scoring['income_type'] != 'пенсионер'].sort_values(by='dob_years', ascending=False).head()

,index,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma,income_class
8829,8874,0,75,1,2,F,госслужащий,0,153282,образование,выше сред
11445,11519,0,74,1,1,F,сотрудник,0,98945,свадьба,бедные
12219,12303,0,74,1,0,M,компаньон,0,124830,недвижимость,ниже сред
15295,15423,0,73,1,0,F,компаньон,0,183306,недвижимость,выше сред
8714,8759,0,72,0,3,F,компаньон,0,168429,жилье,выше сред

Мы также не можем утверждать что человек пенсионер только потому что он в уже в возрасте.

Что ж, воспользуемся методом разрезки на квантили, и сделаем несколько примерно равных групп.  
Порежем для начала на квартили.

In [99]:
pd.qcut(df_scoring['dob_years'],4)

0          (33.0, 42.0]
1          (33.0, 42.0]
2        (18.999, 33.0]
3        (18.999, 33.0]
4          (42.0, 53.0]
              ...
21218      (42.0, 53.0]
21219      (53.0, 75.0]
21220      (33.0, 42.0]
21221      (33.0, 42.0]
21222      (33.0, 42.0]
Name: dob_years, Length: 21223, dtype: category
Categories (4, interval[float64]): [(18.999, 33.0] < (33.0, 42.0] < (42.0, 53.0] < (53.0, 75.0]]

Аналогичную ситуацию видели в доходе - последний квартиль имеет больший размах чем остальные. То есть людей от 53 до 75 лет примерно в 2 раза меньше чем людей от 33 до 53 лет, хотя размах примерно одинаковый. Это может говорить о том что люди в возрасте 33-53 лет чаще других возрастных групп обращаются за кредитом.

Посмотрим ради интереса какая нижняя граница возраста у заемщиков в 99 персентиле.(В 99 персентиле выборки 212 людей, как мы уже ранее выяснили)

In [100]:
df_scoring.sort_values(by='dob_years',ascending=False).reset_index(drop=True)['dob_years'][211]

69

Всего 69 лет. Картина не такая драматичная как в доходе. Выделять отдельно супер взрослых не имеет смысла.

А в чем есть смысл, наверное, так это в том чтобы использовать интерквартильный размах в данном случае как одну группу - взрослые, и крайние группы сделать молодыми и зрелыми. Группы конечно получатся разными по размеру, но зато будут лучше отражать жизненный цикл человека и иметь примерно одинаковый размах, и опять же, не порежем по медиане, где большое скопление людей.

**3 категории по возрасту:** 
1. Молодые (первый квартиль: **`total_income` <= 33**)
2. Взрослые (интерквартильный размах: **33 < `total_income` <= 53**)
3. Зрелые (послендний квартиль:**`total_income` > 53**)

Сразу сделаем словарь, чтобы хранить эти соответствия

In [101]:
age_data = [
    ['молодые',18,33],
    ['взрослые', 33, 53],
    ['зрелые', 53, 75]
]
age_col = ['age_class', '>', '<=']
age_dict = pd.DataFrame(data=age_data,columns=age_col)
age_dict

  age_class   >  <=
0   молодые  18  33
1  взрослые  33  53
2    зрелые  53  75

Создадим новый столбец `age_class` и  заполним его по аналогии с `income_class`

In [102]:
def assign_age_class(dob_years):
    if dob_years <= 33:
        return 'молодые'
    elif 33 < dob_years <= 53:
        return 'взрослые'
    else:
        return 'зрелые'
    

df_scoring['age_class'] = df_scoring['dob_years'].apply(assign_age_class)

In [103]:
df_scoring.head()

,index,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma,income_class,age_class
0,0,1,42,0,0,F,сотрудник,0,253875,жилье,богатые,взрослые
1,1,1,36,1,0,F,сотрудник,0,112080,автомобиль,ниже сред,взрослые
2,2,0,33,1,0,M,сотрудник,0,145885,жилье,выше сред,молодые
3,3,3,32,1,0,M,сотрудник,0,267628,образование,богатые,молодые
4,4,0,53,1,1,F,пенсионер,0,158616,свадьба,выше сред,взрослые

Выглядит нормально. Проверим что никто не остался без класса по возрасту

In [104]:
df_scoring['age_class'].isna().sum()

0

Класс по возрасту всем присвоили. И еще посмотрим на размер групп по возрасту

In [105]:
df_scoring['age_class'].value_counts()

взрослые    10702
молодые      5331
зрелые       5190
Name: age_class, dtype: int64

Группы получились разные по количеству, но зато, как мы видели ранее, плюс минус одинаковые по размаху возраста внутри каждой группы. Тот факт что взрослых больше всего, может говорить о том, что данная возрастная группа в целом чаще обращается за кредитом (или, что даже более вероятно, данной возрастной группе чаще всего одобряют кредит) потому они чаще попадают в эту выборку.

#### Вывод (категоризация данных)

Мы категоризировали данные, а именно: 
1. Отправили в "словари" те параметры, которые имели дубли (`education` и `family_status`). В основном ДФ оставили только их `id`.
2. Перезаписали ДФ в новую переменную `df_scoring`, исключив ненужные столбцы. ДФ стал более удобным для восприятия
3. Удалили дубликаты, которые образовались после приведения целей кредита к лемме.
4. Классифицировали данные на основании количественных признаков - возраст и доход, и добавили соответствующие столбцы в ДФ.
    * получили 5 групп по уровню дохода: бедные, ниже среднего, выше среднего, богатые, зажиточные. Зажиточные составляют сего 1% от всей выборки, а следовательно мы не сможем получить какие-бы то ни было статистически значимые данные по этой группе в связи с недостаточным размером выборки. 
    * получили 3 группы по возрасту: молодые, взрослые, зрелые. Размах возраста в них примерно одинаковый, но группа взрослые составляет примерно половину численности всех заемщиков.

## Какие факторы больше всего влияют на факт погашения кредита в срок

Для начала посмотрим, какой общий процент должников в выборке

In [106]:
df_scoring['debt'].sum() / len(df_scoring)

0.08198652405409226

То есть если допустить, что выборка была непредвзятой, то экстраполируя этот вывод на будущих заемщиков, можно ожидать, что в среднем 8,1% заемщиков не будут погашать кредит в срок. Банк, понятное дело, хочет снизить этот процент.
Теперь можно рассчитать вероятность задолженности в разрезе разных категорий заемщиков.

### Зависимость между наличием детей и возвратом кредита в срок

Чтобы ответить на этот вопрос, добавим в ДФ столбец `children_id` с фактом наличия детей, где наличие будет обозначено 1, а отсутствие 0. Сделаем это с помощью функции, которая будет в качестве аргумента принимать количество детей, а возвращать 0 или 1 в зависимости от наличия детей. Методом `.apply()` применим ко всему столбцу `children`.

In [107]:
def assign_children_id(children):
    if children == 0:
        return 0
    else:
        return 1

df_scoring['children_id'] = df_scoring['children'].apply(assign_children_id)

In [108]:
df_scoring.head(3)

,index,children,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose_lemma,income_class,age_class,children_id
0,0,1,42,0,0,F,сотрудник,0,253875,жилье,богатые,взрослые,1
1,1,1,36,1,0,F,сотрудник,0,112080,автомобиль,ниже сред,взрослые,1
2,2,0,33,1,0,M,сотрудник,0,145885,жилье,выше сред,молодые,0

Выглядит нормально, проверим чтобы не осталось пропусков

In [109]:
df_scoring['children_id'].isna().sum()

0

Пропусков не осталось, все получили 1 или 0 в зависимости от наличия или отсутствия детей.

**С детьми vs без детей**

Посмотрим насколько хорошо представлены группы заемщиков с детьми и без детей.

In [110]:
df_scoring['children_id'].value_counts(normalize=True)

0    0.655044
1    0.344956
Name: children_id, dtype: float64

Заемщики с детьми составляют 34,5% от всех заемщиков. Обе группы представлены хорошо.  
Теперь можно перейти к расчетам.  
При расчетах будем обращаться к столбцу `children_id` ДФ `df_scoring`. Сначала найдем количество заемщиков с детьми и без детей, потом вычислим количество должников в этих группах, разделим должников на общее количество, и наконец приведем все в удобно читаемый вид.

In [111]:
# кол-во заемщиков с детьми и без детей
by_children_id_all = df_scoring.groupby('children_id')['debt'].count().to_frame()
# количество заемщиков с долгом среди людей с детьми и без детей
by_children_id_debt = df_scoring.groupby('children_id')['debt'].sum().to_frame()
# доля должников среди людей с детьми и без детей
by_children_id = (by_children_id_debt['debt'] / by_children_id_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_children_id = by_children_id.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_children_id

   children_id      debt
1            1  0.092610
0            0  0.076392

Что видим: 
* Среди заемщиков с детьми должников больше. К счастью для банка они составляют меньшую долю заемщиков - чуть более 30% (может и не случайно)
* Среди заемщиков без детей должников значительно меньше.

**По количеству детей**

Также будет интересно посмотреть, есть ли какое-то соотношение между наличием долга и количеством детей. Но сначала проверим как разное количество детей представлено в выборке.

In [112]:
# делим на длину выборки с детьми для начала
df_scoring[df_scoring['children'] != 0]['children'].value_counts() / len(df_scoring[df_scoring['children'] != 0])

1    0.658790
2    0.289441
3    0.044939
4    0.005600
5    0.001229
Name: children, dtype: float64

Похоже, что абсолютное большинство людей с детьми составляют люди с 1-2 детьми (94,8%). Заемщики с 3-5 детьми представлены недостаточно даже относительно выборки с детьми, а значит относительно всей выборки этот процент будет еще меньше. Это ожидаемо, ведь таких и в реальной жизни меньшинство. К сожалению не получится сделать значимые выводы о заемщиках с 3-5 детьми.  
Проведем рассчеты для людей с разным количеством детей (принцип такой же как выше). При расчетах будем обращаться к столбцу `children` ДФ `df_scoring`, но на этот раз применим фильтр, и оставим только тех, кто имеет детей.

In [113]:
# кол-во заемщиков с разным количеством детей
by_children_all = df_scoring[df_scoring['children'] != 0].groupby('children')['debt'].count().to_frame()
# количество заемщиков с долгом среди людей с разным количеством детей
by_children_debt = df_scoring[df_scoring['children'] != 0].groupby('children')['debt'].sum().to_frame()
# доля должников среди людей с разным количеством детей
by_children = (by_children_debt['debt'] / by_children_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_children = by_children.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_children

   children      debt
3         4  0.097561
1         2  0.095328
0         1  0.092266
2         3  0.082067
4         5  0.000000

Что видим: 
   * Заемщики с двумя детьми имеют долг по кредиту чаще, чем заемщики с одним ребенком, что ожидаемо.
   * Забавно, что среди заемщиков с пятью детьми должников не было, а у заемщиков с 4 детьми - процент должников самый большой из всех. Вряд ли это отражает настоящее положение дел, скорее просто перекос из-за недостаточного объема выборки.

Ответим на поставленный вопрос:  
**- Есть ли зависимость между наличием детей и возвратом кредита в срок?**  

Да, существует корреляция между наличием детей и наличием задолженности по кредиту. Заемщики с детьми имеют долг по кредиту чаще, чем заемщики без детей, при этом чаще имеют задолженность заемщики с двумя детьми, чем с одним ребенком.

#### Вывод

Мы выяснили, что:
* Факт наличия детей коррелирует с фактом наличия задолженности по кредиту: заемщики с детьми платят хуже чем без детей (см таблицу ниже)
* Есть линейная корреляция между количеством детей и вероятностью задолженности: с увеличением количества детей с 1 до 2 вырастает вероятность задолженности. Если отборсить статистически незначимые выборки по заемщикам с 3-5 детьми, то тенденция указывает на то, что чем больше у заемщика будет детей тем хуже будет процент возврата по кредиту.
* Большинство заемщиков (более 60%) это люди без детей 
* Более предпочтительными заемщиками для банка являются люди без детей  

Цифры по задолженности приведем в таблицах.

In [114]:
# должники с детьми и без детей
by_children_id

   children_id      debt
1            1  0.092610
0            0  0.076392

In [115]:
# должники с разным количеством детей
by_children

   children      debt
3         4  0.097561
1         2  0.095328
0         1  0.092266
2         3  0.082067
4         5  0.000000

In [116]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
# Это лист для данных сводного дата фрейма
worst_best_data = []
# Это имена столбцов сводного дата фрейма
worst_best_col = ['parameter','worst', 'worst_%', 'best', 'best_%']

children_id_sum_data = ['children_id', 1, 0.092610, 0, 0.076392]
worst_best_data.append(children_id_sum_data)

### Зависимость между семейным положением и возвратом кредита в срок

Сначала посмотрим, все ли категории заемщиков по семейному положению представлены одинаково хорошо

In [117]:
family_status_id_rep = df_scoring['family_status_id'].value_counts().to_frame().reset_index()
family_status_id_rep.set_axis(['family_status_id', 'prs'],axis='columns',inplace=True)
family_status_id_rep = family_status_id_rep.merge(family_status_dict) 
family_status_id_rep['prs']  =  family_status_id_rep['prs'] / len(df_scoring)
family_status_id_rep

   family_status_id       prs          family_status
0                 0  0.573058        женат / замужем
1                 1  0.194553       гражданский брак
2                 4  0.131555  Не женат / не замужем
3                 3  0.056213              в разводе
4                 2  0.044621         вдовец / вдова

Хорошо представлены только три категории. Слабо представлены вдовцы/вдовы и заемщики в разводе

Проведем рассчеты для заемщиков с разным семейным пололжением аналогично тому, как мы проводили их для заемщиков с разным количеством детей. При расчетах будем обращаться к столбцу `family_status_id` ДФ `df_scoring`

In [118]:
# кол-во заемщиков для каждого вида кредита
by_family_status_id_all = df_scoring.groupby('family_status_id')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого вида кредита
by_family_status_id_debt = df_scoring.groupby('family_status_id')['debt'].sum().to_frame()
# доля должников для каждого вида кредита
by_family_status_id = (by_family_status_id_debt['debt'] / by_family_status_id_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_family_status_id = by_family_status_id.to_frame().reset_index().sort_values(by='debt', ascending=False)
# добавим словарь по семейному положению для удобства
by_family_status_id_merged = by_family_status_id.merge(family_status_dict)
by_family_status_id_merged

   family_status_id      debt          family_status
0                 4  0.098138  Не женат / не замужем
1                 1  0.093969       гражданский брак
2                 0  0.076468        женат / замужем
3                 3  0.071249              в разводе
4                 2  0.066526         вдовец / вдова

Что видим: 
* Хуже всех выплачивают кредиты не женатые / не замужние, но их, к счастью для банка, всего 13,2%.
* Сразу следом за ними следуют заемщики, состоящие в гражданском браке, и их доля выше - 19,5%.
* Далее идут женатые / замужние, они же составляют и самую крупную группу заемщиков - 57,3%.
* Хорошие показатели у заемщиков в разводе, но их всего чуть больше 5% среди заемщиков.
* Лучшие показатели у группы вдовцы / вдовы, но их менее 5%.

Таким образом:
* Выглядит, что заемщики, которые состоят или когда либо состояли в официальном браке (женатые, разведенные, вдовцы), платят лучше чем те, кто никогода не состоял в официальном браке. Может быть потому что они знают, что такое обязательства?
* Заемщики выплачивающие хуже (не связанные офиц обязательствами) составляют чуть более 30% в общей массе заемщиков. Похожая картина была у заемщиков с детьми.
* Чем лучше показатели возврата кредита, тем лучше группа представлена среди заемщиков. Вряд ли можно считать это совпадением. Выглядит, что банк уже проводит неплохую работу по соблюдению баланса благонадежных и не очень заемщиков.

Ответим на поставленный вопрос:  
**- Есть ли зависимость между семейным положением и возвратом кредита в срок?**  

Да, существует корреляция между семейным положением и задолженностью по кредиту

#### Вывод

Мы выяснили, что:
* Семейное положение коррелирует с фактом наличия задолженности по кредиту: заемщики состоящие (или когда либо состоявшие) официальном браке платят лучше, чем те кто никогда в официальном браке не состоял. 
* Более предпочтительными заемщиками для банка являются люди, состоящие (или когда либо состоявшие) официальном браке (женатые / замужние, разведенные, вдовцы / вдовы)
* Большинство заемщиков это женатые/замужние люди. Если докинуть туда же вдовцов и разведенных то это более 60% всех заемщиков. Возможно это неспроста.
* Похоже, что банк уже проводит неплохую работу по соблюдению баланса благонадежных и не очень заемщиков.  

Доли должников среди заемщиков по разому семейному положению приведем в виде таблицы.

In [119]:
by_family_status_id_merged

   family_status_id      debt          family_status
0                 4  0.098138  Не женат / не замужем
1                 1  0.093969       гражданский брак
2                 0  0.076468        женат / замужем
3                 3  0.071249              в разводе
4                 2  0.066526         вдовец / вдова

Комментарий: будем считать группу женатые / замужние самыми добросовестными заемщиками в рамках данной классификации, тк вдовцы / вдовы и люди в разводе слабо представлены, и выводы по этим двум группам нужно воспринимать с долей скептицизма. 

Возможные причины почему группы вдовцы / вдовы и развденные представлены слабо:
* Вдов/вдовцов в реальной жизни возможно меньше чем остальных категорий людей. Плюс они как правило в преклонном возрасте, и вряд ли банки хотят выдавать кредиты тем, кто имеет высокую вероятность умереть раньше, чем выплатит кредит. 
* Почему в выборке так мало разведенных - это вопрос. Если взять статистику по разводам практически в любой развитой стране, то в реальной жизни разведенных должно быть не намного меньше женатых/замужних. Возможно развденные уже успели взять кредиты пока все еще были женаты/замужем и все еще выплачивают их? Возможно также что банк неохотно выдавал кредиты разведенным.

In [120]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
family_sum_data = ['family', 'Не женат / не замужем', 0.098138, 'женат / замужем', 0.076468]
worst_best_data.append(family_sum_data)

### Зависимость между уровнем дохода и возвратом кредита в срок

Сначала вспомним, как представлены разные группы по уровню дохода в выборке. У нас должны быть 4 примерно равные группы, и 1% зажиточных людей

In [121]:
df_scoring['income_class'].value_counts() / len(df_scoring)

ниже сред     0.254205
бедные        0.247514
богатые       0.247514
выше сред     0.240777
зажиточные    0.009989
Name: income_class, dtype: float64

Проведем рассчеты для заемщиков с разным уровнем дохода аналогично тому, как мы проводили их в двух предыдущих пунктах. При расчетах будем обращаться к столбцу `income_class` ДФ `df_scoring`

In [122]:
# кол-во заемщиков для каждого уровня дохода
by_income_class_all = df_scoring.groupby('income_class')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого уровня дохода
by_income_class_debt = df_scoring.groupby('income_class')['debt'].sum().to_frame()
# доля должников для каждого уровня дохода
by_income_class = (by_income_class_debt['debt'] / by_income_class_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_income_class = by_income_class.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_income_class

  income_class      debt
4    ниже сред  0.092308
2    выше сред  0.085323
0       бедные  0.078241
1      богатые  0.072530
3   зажиточные  0.066038

Что видим:

* Неожиданно, но самый большой процент должников не среди бедных, а среди середнячков. При делении на категории дохода мы их разбили на две группы для ровного количества, но по сути их можно было бы оставить в одной группе (использовать интерквартильный размах), тк их показатели довольно близки. Вместе они составляют примерно 50% заемщиков.
* Как ни странно, среди бедных должников меньше, хотя казалось бы, более низкий уровень дохода должен означать большую вероятность задолженности. Доля должников даже ниже чем в среднем по выборке.
* В богатой группе должников заментно меньше, что как раз-таки ожидаемо, ведь больший уровень дохода ассоциируется обычно с платежеспособностью. Однако, сам факт хорошего дохода не означает, что у заемщика не будет долга.
* Должники есть, как ни странно, и среди зажиточных, которые входят в топ 1% выборки по уровню дохода. Их конечно меньше чем в любой другой группе но они есть. Эта группа очень мала, так что сделать статистически значимый вывод по ней не получится. Если бы мы не отделяли эту группу, то она бы немного потянула процент для группы богатых людей вниз, и выглядело бы так, что богатые отдают кредиты еще лучше (но незначительно).

Ответим на поставленный вопрос:  
**- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**  
Да, уровень дохода коррелирует с вероятностью задолженности, однако корреляция эта не линейная: середнячки имеют задолженность чаще других, а богатые заемщики - самые добросовестные плательщики. Бедные расположились где-то посередине.

#### Вывод

Мы выяснили что: 
* Есть корреляция между уровнем дохода и возвратом кредита в срок: заемщики со средним доходом имеют худшие показатели выплат,  хорошие показатели имеют бедные заемщики, лучшие - богатые. 
* Среди богатых и зажиточных есть должники.
* Высокий доход заемщика не гарантирует 100% выплату по кредиту. 
* Более предпочтительными заемщиками для банка являются богатые люди

Комментарий: будем считать группу богатые самыми добросовестными заемщиками в рамках данной классификации, тк зажиточные слабо представлены, и выводы по ним нужно воспринимать с долей скептицизма. Возможные причины почему зажиточные представлены слабо мы уже приводили ранее когда выделяли эту группу. Интересно будет посмотреть на что зажиточные люди берут кредиты.  


Доли должников среди заемщиков по разому семейному положению приведем в виде таблицы.

In [123]:
by_income_class

  income_class      debt
4    ниже сред  0.092308
2    выше сред  0.085323
0       бедные  0.078241
1      богатые  0.072530
3   зажиточные  0.066038

In [124]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
income_class_sum_data = ['income_class', 'ниже сред', 0.092308, 'богатые', 0.072530]
worst_best_data.append(income_class_sum_data)

### Как разные цели кредита влияют на его возврат в срок

Сначала посмотрим все ли виды кредитов представлены одинаково хорошо

In [125]:
df_scoring['purpose_lemma'].value_counts() / len(df_scoring)

недвижимость    0.294916
автомобиль      0.201291
образование     0.186778
жилье           0.179758
свадьба         0.108656
ремонт          0.028601
Name: purpose_lemma, dtype: float64

Почти все кредиты представлены хорошо, кроме кредитов на ремонт. Не будем их учитывать.
Проведем рассчеты для разных целей кредита аналогично тому, как мы проводили их в предыдущих пунктах. При расчетах будем обращаться к столбцу `purpose_lemma` ДФ `df_scoring`

In [126]:
# кол-во заемщиков для каждого вида кредита
by_purpose_lemma_all = df_scoring.groupby('purpose_lemma')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого вида кредита
by_purpose_lemma_debt = df_scoring.groupby('purpose_lemma')['debt'].sum().to_frame()
# доля должников для каждого вида кредита
by_purpose_lemma = (by_purpose_lemma_debt['debt'] / by_purpose_lemma_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_purpose_lemma = by_purpose_lemma.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_purpose_lemma

  purpose_lemma      debt
0    автомобиль  0.094101
3   образование  0.093340
5       свадьба  0.080659
2  недвижимость  0.075731
1         жилье  0.071560
4        ремонт  0.057661

Что видим: 
* Хуже всего выплачивали кредиты за авто, и почти так же плохо за образование, при том что вместе они составляют почти 40% всех кредитов. 
* Лучше всего (со статистически значимым результатом) выплачивали за недвижимость и жилье. Вместе они составляют почти половину всех кредитов. 
* Кредиты на жилье/недвижимость представляются более крупными чем за авто и образования. К тому же кредиты за жилье страшно не выплачивать, ведь никто не хочет чтобы его жилье отошло банку. Авто еще куда ни шло ~~а образование и свадьбу банк не отзовет~~
* Ремонты составяют мене 3% от всех кредитов, по ним делать какие-то однозначные выводы не стоит. Если бы мы присоединили ремонт к жилью на этапе лемматизации, то ремонт бы немного потянул процент задолженности за жилье вниз. Наверное это было бы не очень критично здесь, но возможно критично по другим показателям, которые мы еще не рассматривали.

Что думаем:  

Корреляция между целями кредита и задолженностью прослеживатся, однако на данном этапе будет необоснованным утверждать, что  цели кредита сами по себе прямо **влияют** на  вероятность задолженности по этому кредиту. Это может быть комбинация разных факторов, включая и то, как распределены заемщики с разной платежеспособностью внутри каждого вида кредита. Например, если автокредит выдавался больше заемщикам со средним доходом и неженатым/незамужним - то эти категории заемщиков, ввиду своей неплатежеспособности, будут увеличивать процент невозврата по кредиту.

Ответим на поставленный вопрос:  
**- Как разные цели кредита влияют на его возврат в срок?**  

Цель кредита коррелирует с наличием задолженности:
* Хуже всего выплачивают кредиты за авто и образование
* Далее следуют свадьбы
* За недвижимость выплачивают лучше, а лучше всего (со стаистически значимым результатом) - за жилье

#### Вывод

Мы выяснили что: 
* Есть корреляция между целями кредита и возвратом кредита в срок.
* Хуже всего возвращают автокредиты, лучше всего - за жилье.
* Примерно половина всех кредитов - это жилье и недвижимость, они же возвращаются лучше всего.

Доли должников для разных целей кредитов приведем в виде таблицы.

In [127]:
by_purpose_lemma

  purpose_lemma      debt
0    автомобиль  0.094101
3   образование  0.093340
5       свадьба  0.080659
2  недвижимость  0.075731
1         жилье  0.071560
4        ремонт  0.057661

In [128]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
purpose_sum_data = ['purpose', 'автомобиль', 0.094101, 'жилье', 0.071560]
worst_best_data.append(purpose_sum_data)

### Влияет ли тип занятости  заемщика на возврат кредита в срок

Проверим как вообще представлены разные типы занятости в выборке.

In [129]:
df_scoring['income_type'].value_counts() / len(df_scoring)

сотрудник          0.516374
компаньон          0.237761
пенсионер          0.177119
госслужащий        0.068463
безработный        0.000094
предприниматель    0.000094
студент            0.000047
в декрете          0.000047
Name: income_type, dtype: float64

Хорошо представлены только 3 категории: сотрудники, компаньоны, пенсионеры. Можно в с большим натягом посчитать и госслужащих (их 6,8%), но из-за нельбольшого размера выборки в абсолютных числах их немного, всего 1457 человек. Когда они размажутся на разные цели кредитов, выводы по ним будут не очень то значимыми. Каким-то непонятным образом кредит одобрили студенту, декретнице и даже двум безработным.

In [130]:
# кол-во заемщиков для каждого типа занятости
by_income_type_all = df_scoring.groupby('income_type')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого типа занятости
by_income_type_debt = df_scoring.groupby('income_type')['debt'].sum().to_frame()
# доля должников для каждого типа занятости
by_income_type = (by_income_type_debt['debt'] / by_income_type_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_income_type = by_income_type.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_income_type

       income_type      debt
1        в декрете  1.000000
0      безработный  0.500000
6        сотрудник  0.096724
3        компаньон  0.074514
2      госслужащий  0.059188
4        пенсионер  0.057462
5  предприниматель  0.000000
7          студент  0.000000

Что видим:
* Самые недобросовестные плательщики это сотрудники, и это при том, что они составляют более половины всех заемщиков, а медианный доход у них не самый низкий. Хотя мы уже видели что не существует линейной корреляции между уровнем дохода и возвратом кредита в срок. 
* Следующими идут компаньоны с хорошим показателем.
* Лучшие плательщики это, как ни странно пенсионеры, при том что медианный доход у них самый низкий. 
* Госслужащие также возвращают неплохо, но они мало представлены в выборке, поэтому не стоит воспринимать это как значимый вывод.  

Таким образом, тип занятости коррелирует с возвратом кредита в срок.

In [131]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
income_type_sum_data = ['income_type', 'сотрудник', 0.096724, 'пенсионер', 0.057462]
worst_best_data.append(income_type_sum_data)

### Влияет ли возраст заемщика на возврат кредита в срок

Возрастные группы мы разделили примерно на одинаковое количество, так что все будут представлены хорошо и выводы можно будет считать статистически значимыми.

In [132]:
# кол-во заемщиков для каждого типа занятости
by_age_class_all = df_scoring.groupby('age_class')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого типа занятости
by_age_class_debt = df_scoring.groupby('age_class')['debt'].sum().to_frame()
# доля должников для каждого типа занятости
by_age_class = (by_age_class_debt['debt'] / by_age_class_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_age_class = by_age_class.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_age_class

  age_class      debt
2   молодые  0.109923
0  взрослые  0.080265
1    зрелые  0.056840

Что видим:
* Лучшие плательщики - заемщики зрелого возраста, примерно с таким же процентом должников как и у пенсионеров.
* Худшие плательщики - это молодые заемщики: среди них должников практически в два раза больше чем среди людей зрелого возраста  
Таким образом, возраст заемщика коррелирует с возвратом кредита в срок. Причем корреляция выглядит линейной: при повышении среднего возраста группы заемщиков, процент должников в группе уменьшается.

In [133]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
age_class_sum_data = ['age_class', 'молодые', 0.109923, 'зрелые', 0.056840]
worst_best_data.append(age_class_sum_data)

### Влияет ли образование заемщика на возврат кредита в срок

Сначала посмотрим достаточно ли представлены разные категории заемщиков по образованию, и вызовем словарь, чтобы вспомнить кто есть кто.

In [134]:
df_scoring['education_id'].value_counts() / len(df_scoring)

1    0.705084
0    0.246289
2    0.035056
3    0.013287
4    0.000283
Name: education_id, dtype: float64

In [135]:
education_dict

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

Хорошо представлены только заемщики с высшим и средним образованием. Для остальных недостаточно данных, чтобы делать какие-либо выводы.

In [136]:
# кол-во заемщиков для каждого типа занятости
by_education_id_all = df_scoring.groupby('education_id')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого типа занятости
by_education_id_debt = df_scoring.groupby('education_id')['debt'].sum().to_frame()
# доля должников для каждого типа занятости
by_education_id = (by_education_id_debt['debt'] / by_education_id_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_education_id = by_education_id.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_education_id

   education_id      debt
3             3  0.109929
2             2  0.091398
1             1  0.091085
0             0  0.053185
4             4  0.000000

Что видим: 
* Заемщики с высшим образованием(0) платят свои кредиты лучше, а их всего менее 25%
* Заемщики со средним образованием(1) платят хуже, а их больше 70%
* Это пока первый случай, когда преобладающее большинство - заемщики с худшим показателем, а не с лучшим.

In [137]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
education_id_sum_data = ['education', 'среднее', 0.091085, 'высшее', 0.053185]
worst_best_data.append(education_id_sum_data)

### Влияет ли пол заемщика на возврат кредита в срок

Сначала посмотрим как распределены женщины и мужчины в общей выборке.

In [138]:
df_scoring['gender'].value_counts() / len(df_scoring)

F      0.659615
M      0.340338
XNA    0.000047
Name: gender, dtype: float64

Женщин почти в два раза больше, чем мужчин. Обе группы представлены достаточно для того чтобы сделать статистически значимый вывод. Один заемщик неопределенного пола, можем его игнорировать.

In [139]:
# кол-во заемщиков для каждого пола
by_gender_all = df_scoring.groupby('gender')['debt'].count().to_frame()
# количество заемщиков с долгом для каждого пола
by_gender_debt = df_scoring.groupby('gender')['debt'].sum().to_frame()
# доля должников для каждого пола
by_gender = (by_gender_debt['debt'] / by_gender_all['debt'])
# перевод в ДФ, обнуление индексов, сортировка от большего к меньшему по столбцу с долгом
by_gender = by_gender.to_frame().reset_index().sort_values(by='debt', ascending=False)
by_gender

  gender      debt
1      M  0.103420
0      F  0.070934
2    XNA  0.000000

Что видим: 
* Женщины выплачивают заметно лучше, чем мужчины. Женщин при этом большее количество в выборке - более 65%. Может ли это быть случайностью? Наверное нет.

In [140]:
# Закинем лучшие и худшие показатели в список с данными (потом сделаем сводный ДФ)
gender_sum_data = ['gender', 'M', 0.103420, 'F', 0.070934]
worst_best_data.append(gender_sum_data)
# И сразу создадим ДФ, чтобы вызвать его позже
summary = pd.DataFrame(data=worst_best_data, columns=worst_best_col)

#### Вывод

Мы рассмотрели еще 4 дополнительных параметра и нашли интересные закономерности. Все 4 параметра коррелируют с долгом по кредиту.
- Тип занятости: чаще всего должны сотрудники, реже всего пенсионеры
- Возраст: с повышением среднего возраста группы заемщиков, процент должников в группе уменьшается: больше должников среди молодых,лучшие показатели у зрелых людей
- Образование: чаще имеют долг заемщики со средним образованием , реже - с высшим
- Пол: чаще долг по кредиту есть у мужчин, реже у женщин

При рассмотрении различных параметров мы увидели, что как правило группы с более хорошими показателями выплат составляют большинство заемщиков, тех же кто платит значительно хуже - в группе как правило меньше. Похоже, что банк уже проводит неплохую работу по соблюдению баланса благонадежных и не очень заемщиков.

### Цели кредита для разных категорий заемщиков

По ходу проекта у нас возникали разные вопросы, в основном о том, какие категории заемщиков какие кредиты берут. Проверять это не обязатльно, но интересно. Может еще встретим что-то занимательное.  
Сначала посмотрим, какие кредиты в принципе самые популярные

In [141]:
df_scoring['purpose_lemma'].value_counts() / len(df_scoring)

недвижимость    0.294916
автомобиль      0.201291
образование     0.186778
жилье           0.179758
свадьба         0.108656
ремонт          0.028601
Name: purpose_lemma, dtype: float64

Недвижимость, авто, образование, жилье - топ самых популярных, составляют почти 90% всех кредитов. Ремонт представлен недостаточно, не будем его рассматривать - это не показательно.

#### Цели кредита в зависимости от уровня дохода

 Мы разделили заемщиков на 5 категорий по уровню дохода, 4 из них будут представлены более или менее равными группами, и одна очень маленькая группа зажиточных людей, о которых мы не будем дальть однозначные выводы.  
 А теперь посмотрим, какой процент заемщиков берут тот или иной кредит в каждой группе дохода. Используем метод `.pivot_table()`, и после этого выведем процентное соотношение разных кредитов для каждого типа заемщиков.

In [142]:
pivot_inc_pur = df_scoring.pivot_table(index='income_class', columns='purpose_lemma', values='debt', aggfunc='count')
purposes = ['автомобиль', 'жилье', 'недвижимость', 'образование', 'ремонт', 'свадьба']
pivot_inc_pur['total'] = pivot_inc_pur[purposes].sum(axis=1)
pivot_inc_pur = pivot_inc_pur[purposes].div(pivot_inc_pur.total, axis=0)
pivot_inc_pur['total'] = pivot_inc_pur[purposes].sum(axis=1)

pivot_inc_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
income_class,,,,,,,
бедные,0.194175,0.185799,0.290310,0.193223,0.024367,0.112126,1.0
богатые,0.205026,0.184085,0.299258,0.175709,0.028174,0.107748,1.0
выше сред,0.192955,0.180431,0.295303,0.191781,0.032485,0.107045,1.0
зажиточные,0.183962,0.216981,0.325472,0.150943,0.028302,0.094340,1.0
ниже сред,0.213160,0.167563,0.293605,0.187952,0.029472,0.108248,1.0

Что мы видим: 
* Все категории заемщиков по уровню дохода берут все виды кредитов.  
* Нам интересно было посмотреть на что берут кредиты зажиточные люди: оказывается, на все то же, на что и остальные, и даже кредиты на ремонты и свадьбы, хотя казалось бы это больше для обычных людей.
* Все категории заемщиков по уровню дохода чаще всего берут кредит на недвижимость, причем в процентном соотношении примерно одинаково. 
* Следующие по популярности кредиты на авто, образование, жилье с небольшими отличиями внутри каждой группы: 
    * Как правило, чем богаче люди, тем реже они берут на образование (Группы с доходом выше среднего и ниже среднего - наоборот) 
    * Интересно, что люди с доходом ниже среднего (самые плохие плательщики, как мы видели), больше чем другие группы берут автокредиты (самые плохие по возвращаемости кредиты), и заметно меньше чем другие берут на жилье (лучшие по возвращаемости кредиты.)

А теперь посмотрим как заемщики в зависимости от уровня доходов возвращают те или иные кредиты. Для этого: 
1. Сформируем сводную таблицу должникв с указанием класса дохода и цели кредита
2. Сформируем такую же таблицу всех заемщиков с указанием класса дохода и цели кредита
3. Разделим одну таблицу на другую (должников на всех заемщиков)

In [143]:
pivot_inc_pur_debt = df_scoring.pivot_table(index='income_class', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_inc_pur_no_debt = df_scoring.pivot_table(index='income_class', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_inc_pur_pc_debt = pivot_inc_pur_debt / pivot_inc_pur_no_debt
pivot_inc_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
income_class,,,,,,
бедные,0.090196,0.066598,0.070820,0.086700,0.031250,0.091681
богатые,0.085422,0.056877,0.076336,0.080173,0.054054,0.056537
выше сред,0.104462,0.074837,0.077535,0.092857,0.078313,0.078611
зажиточные,0.076923,0.086957,0.028986,0.125000,0.000000,0.050000
ниже сред,0.097391,0.088496,0.080177,0.111440,0.062893,0.095890

Что видим: 
* Кредиты за авто все категории заемщиков возвращают хуже других видов кредитов (отражает данные всей выборки, где авто - самый плоховозвращаемый кредит)
* Кредиты за жилье/недвижимость все группы возвращают лучше других видов кредитов (опять же, отражает данные всей выборки)
* Богатые лучше (относительно других групп) возвращают все виды кредитов. Однако, не все кредиты богатые возвращают одинаково хорошо. То есть тот факт, что заемщик имеет хороший доход, само по себе не говорит о том что он будет одинаково хорошо выплачивать любой кредит. Играют роль и другие факторы (возможно что-то узнаем дальше)

#### Цели кредита в зависимости от семеного положения

Мы видели ранее, что в классификации по семейным положениям не очень хорошо представлены вдовы/вдовцы и разведенные, поэтому выводы по ним вряд ли будут показательны. Остальные группы представлены нормально.  
Посмотрим какие кредиты берут заемщики в зависимости от семейного положения

In [144]:
family_status_dict

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

In [145]:
pivot_fam_pur = df_scoring.pivot_table(index='family_status_id', columns='purpose_lemma', values='debt', aggfunc='count')

pivot_fam_pur['total'] = pivot_fam_pur[purposes].sum(axis=1)
pivot_fam_pur = pivot_fam_pur[purposes].div(pivot_fam_pur.total, axis=0)
pivot_fam_pur['total'] = pivot_fam_pur[purposes].sum(axis=1)

pivot_fam_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
family_status_id,,,,,,,
0,0.222825,0.204243,0.331031,0.209998,0.031903,NaN,1.0
1,0.104626,0.084282,0.141681,0.097602,0.013320,0.558489,1.0
2,0.228089,0.201690,0.329461,0.206969,0.033791,NaN,1.0
3,0.235541,0.191115,0.341995,0.198659,0.032691,NaN,1.0
4,0.226719,0.202006,0.332378,0.205587,0.033309,NaN,1.0

Что видим: 
* Сразу бросается в глаза, что кредиты на свадьбы берут только заемщики, состоящие в гражданском браке (ГБ), что ожидаемо. Но интересно другое - таких кредитов более 50% для данного семейного положения. Тут нужно учесть: люди состоящие в ГБ, как мы помним, одни из самых неблагонадежных заемщиков, а кредиты на свадьбы не выплачиваются лишь в 8,0% случаев. Значит другие кредиты люди в ГБ выплачивают еще хуже, хотя нужно отметить, что и берут они все остальные виды кредитов в 2 раза меньше чем в среднем по выборке. Проверим ниже какие же кредиты они так плохо платят.
* У остальных групп все более или менее ровно: не зависимо от семейного положения чаще всего берут кредит на недвижимость
* Следующие по популярности кредиты на авто, образование, жилье с плюс минус одинаковым распределением внутри каждой группы. 
* Популярность разных видов кредита внутри каждой группы (кроме ГБ) соответствует популярности видов кредита в целом по выборке, сильных отклонений не наблюдаем.

Посмотрим теперь на процент должников по каждому виду кредита

In [146]:
pivot_fam_pur_debt = df_scoring.pivot_table(index='family_status_id', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_fam_pur_no_debt = df_scoring.pivot_table(index='family_status_id', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_fam_pur_pc_debt = pivot_fam_pur_debt / pivot_fam_pur_no_debt
pivot_fam_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
family_status_id,,,,,,
0,0.084133,0.069646,0.073025,0.084573,0.048969,NaN
1,0.118056,0.094828,0.094017,0.148883,0.054545,0.080659
2,0.092593,0.052356,0.051282,0.076531,0.062500,NaN
3,0.074733,0.061404,0.068627,0.071730,0.128205,NaN
4,0.129542,0.076241,0.087284,0.108014,0.064516,NaN

Что видим: 
* Действительно, люди в ГБ имеют ужасный показатель по выплате кредитов за образование: почти 15% должников. (Это, предположительно, молодая аудитория, которая не может выплатить свои университетские кредиты (Возможно также будет коррелировать с возрастом, и образованием заемщика). Интересно, что почти по всем видам кредитов они платят хуже всех (кроме авто), хотя они не были самыми злостными неплательщиками.
* А худшими заемщиками были неженатые/незамужние, но они лидируют по невыплате только в автокредитах (авто - самые плохо возвращаемые кредиты). В этом явно что-то есть.
* По другим семейным положениям картина в принципе повторяет общую статистику: охотнее всего возвращают за жилье/недвижимость, и каждая группа сильнее всех игнорирует выплаты по автокредитам.
* Интересно со вдовами/вдовцами: за авто доля неплательщиков почти в два раза выше чем за жилье/недвижимость. Похоже, что никто не любит возвращать за авто. Однако, вдовы/вдовцы в выборке представлены недостаточно, чтобы воспринимать этот вывод слишком серьезно.

#### Цели кредита в зависимости от типа  занятости

Посмотрим какие кредиты берут заемщики в зависимости от типа занятости

In [147]:
pivot_inct_pur = df_scoring.pivot_table(index='income_type', columns='purpose_lemma', values='debt', aggfunc='count')

pivot_inct_pur['total'] = pivot_inct_pur[purposes].sum(axis=1)
pivot_inct_pur = pivot_inct_pur[purposes].div(pivot_inct_pur.total, axis=0)
pivot_inct_pur['total'] = pivot_inct_pur[purposes].sum(axis=1)
# Уберем малопредставленные группы с пропусками
pivot_inct_pur.dropna(inplace=True)
pivot_inct_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
income_type,,,,,,,
госслужащий,0.195458,0.191328,0.299381,0.176187,0.028217,0.109429,1.0
компаньон,0.207887,0.170432,0.302021,0.187079,0.028736,0.103845,1.0
пенсионер,0.209630,0.174781,0.289971,0.188614,0.027135,0.109870,1.0
сотрудник,0.196186,0.184232,0.292727,0.187517,0.029017,0.110320,1.0

Что видим:
* Как и в предыдущих случаях, самый популярный кредит у каждой из хорошо представленных групп - кредит на недвижимость.
* Следующие по популярности кредиты на авто, образование, жилье с плюс минус одинаковым распределением внутри каждой группы. 
* Популярность разных видов кредита внутри каждой группы соответствует популярности видов кредита в целом по выборке, сильных отклонений не наблюдаем.
* Что забавно, пенсионеры так же часто как и другие берут кредиты на свадьбы и на образование. Предположительно, эти кредиты они могут брать для своих детей. Однако, мы видели, что кредиты на свадьбы берут только заемщки в гражданском браке, поэтому возможно также, что кто-то из пенсионеров берет кредит на свадьбу и для себя (тем более молодых пенсионеров в выборке мы тоже видели).

Посмотрим теперь на процент должников по каждому виду кредита.

In [148]:
pivot_inct_pur_debt = df_scoring.pivot_table(index='income_type', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_inct_pur_no_debt = df_scoring.pivot_table(index='income_type', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_inct_pur_pc_debt = pivot_inct_pur_debt / pivot_inct_pur_no_debt
pivot_inct_pur_pc_debt.dropna(inplace=True)
pivot_inct_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
income_type,,,,,,
госслужащий,0.077465,0.043165,0.048276,0.082031,0.073171,0.044025
компаньон,0.081030,0.066279,0.067585,0.076271,0.048276,0.099237
пенсионер,0.064721,0.053272,0.047706,0.067701,0.049020,0.060533
сотрудник,0.113023,0.083210,0.092893,0.111436,0.062893,0.084367

Что видим: 
* Сотрудники платят не просто хуже остальных, но платят хуже по всем видам кредитов.
* Пенсионеры платят лучше всех по всем кредитам 
* Компаньоны платят хуже чем пенсионеры, опять же, по всем видам кредитов, и что забавно, хуже чем все остальные заемщики возвращают кредиты за свадьбу. Даже за авто компаньоны платят лучше (одна из немногих категорий заемщиков, у которой авто - не самый плохо возвращаемый кредит)
* Для госслужащих, пенсионеров и сотрудников все стандартно: все три категории заемщиков возвращают кредиты за жилье/недвижимость охотнее всего, а хуже всего возвращают за авто и образование.

#### Цели кредита в зависимости от наличия детей

Мы уже видели, что заемщиков с детими примерно 30%. Обе группы (с детьми и без детей) будут представлены хорошо.  
Посмотрим какие кредиты берут заемщики в зависимости от наличия детей

In [149]:
pivot_kid_pur = df_scoring.pivot_table(index='children_id', columns='purpose_lemma', values='debt', aggfunc='count')

pivot_kid_pur['total'] = pivot_kid_pur[purposes].sum(axis=1)
pivot_kid_pur = pivot_kid_pur[purposes].div(pivot_kid_pur.total, axis=0)
pivot_kid_pur['total'] = pivot_kid_pur[purposes].sum(axis=1)

pivot_kid_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
children_id,,,,,,,
0,0.202489,0.177600,0.294850,0.187167,0.028917,0.108977,1.0
1,0.199017,0.183855,0.295042,0.186040,0.028002,0.108045,1.0

Не зависимо от наличия или отсутствия детей, заемщики берут примерно одинаковые кредиты, в пропорциональном соотношении так же, как в общей выборке. Аномалий не наблюдаем. Посмотрим процент должников по каждому виду кредита.

In [150]:
pivot_kid_pur_debt = df_scoring.pivot_table(index='children_id', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_kid_pur_no_debt = df_scoring.pivot_table(index='children_id', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_kid_pur_pc_debt = pivot_kid_pur_debt / pivot_kid_pur_no_debt
pivot_kid_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
children_id,,,,,,
0,0.085968,0.068449,0.069285,0.088009,0.057214,0.075908
1,0.109815,0.077266,0.087963,0.103524,0.058537,0.089760

Что видим: 
* Как мы уже видели ранее, люди с детьми платят в целом хуже чем люди без детей, причем, как мы видим здесь, по всем видам кредитов. 
* Для обоих групп авто и образование самые плохо возвращаемые, а самые лучшие показатели по возврату у жилья/недвижимости. Все стандартно.

#### Цели кредита в зависимости от возраста

Посмотрим какие кредиты берут заемщики в зависимости от возраста

In [151]:
pivot_age_pur = df_scoring.pivot_table(index='age_class', columns='purpose_lemma', values='debt', aggfunc='count')

pivot_age_pur['total'] = pivot_age_pur[purposes].sum(axis=1)
pivot_age_pur = pivot_age_pur[purposes].div(pivot_age_pur.total, axis=0)
pivot_age_pur['total'] = pivot_age_pur[purposes].sum(axis=1)

pivot_age_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
age_class,,,,,,,
взрослые,0.202018,0.181555,0.296860,0.183330,0.028219,0.108017,1.0
зрелые,0.206936,0.172832,0.291329,0.194220,0.025819,0.108863,1.0
молодые,0.194335,0.182893,0.294504,0.186457,0.032077,0.109736,1.0

In [152]:
age_dict

  age_class   >  <=
0   молодые  18  33
1  взрослые  33  53
2    зрелые  53  75

Что видим: 
* Не зависимо от возраста, заемщики берут примерно одинаковые кредиты, в пропорциональном соотношении так же, как в общей выборке. Аномалий не наблюдаем. Интересно, что зрелые люди берут кредиты на свадьбы и образование даже чуть чаще чем молодые и взрослые. Посмотрим процент должников по каждому виду кредита.

In [153]:
pivot_age_pur_debt = df_scoring.pivot_table(index='age_class', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_age_pur_no_debt = df_scoring.pivot_table(index='age_class', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_age_pur_pc_debt = pivot_age_pur_debt / pivot_age_pur_no_debt
pivot_age_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
age_class,,,,,,
взрослые,0.092969,0.067422,0.077746,0.088175,0.043046,0.081315
зрелые,0.065177,0.050167,0.047619,0.065476,0.059701,0.060177
молодые,0.126448,0.099487,0.098726,0.131791,0.081871,0.099145

Что видим: 
* Заемщики зрелого возраста платят хорошо по всем видам кредитов. Прослеживается явная параллель с пенсионерами. В принципе логично: большинство пенсионеров в зрелом возрасте (зрелый возраст 54+, медианный возраст пенсионеров 60 лет).
*  У молодых заемщиков по каждому виду кредита процент возрвата хуже. Примечательно, что из всех кредитов, которые берут молодые, хуже всего они возвращают образовательные кредиты (хотя авто не сильно отстает). Похожую ситуацию видели у заемщиков состоящих в гражданском браке.
* По возвратам разных видов кредитов внутри групп в целом все стандартно: меньше должников по жилью/недвижимости, больше по авто и образованию.

#### Цели кредита в зависимости от образования

Посмотрим какие кредиты берут заемщики в зависимости от образования (помним, что хорошо представлены только заемщики с высшим и средним образованием - ВО и СО)

In [154]:
pivot_edu_pur = df_scoring.pivot_table(index='education_id', columns='purpose_lemma', values='debt', aggfunc='count')

pivot_edu_pur['total'] = pivot_edu_pur[purposes].sum(axis=1)
pivot_edu_pur = pivot_edu_pur[purposes].div(pivot_edu_pur.total, axis=0)
pivot_edu_pur['total'] = pivot_edu_pur[purposes].sum(axis=1)

pivot_edu_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
education_id,,,,,,,
0,0.197819,0.180601,0.298642,0.177922,0.030610,0.114406,1.0
1,0.202486,0.180166,0.292368,0.190257,0.027800,0.106923,1.0
2,0.205645,0.177419,0.302419,0.176075,0.030914,0.107527,1.0
3,0.195035,0.148936,0.333333,0.195035,0.028369,0.099291,1.0
4,NaN,0.166667,0.666667,0.166667,NaN,NaN,1.0

Интересно, что у заемщиков с ВО чуть больше доля кредитов на свадьбы, а на образование меньше. У людей с СО - наоборот. Видимо кредит на образование СО берут как раз таки чтобы заплатить за получение ВО.

In [155]:
pivot_edu_pur_debt = df_scoring.pivot_table(index='education_id', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_edu_pur_no_debt = df_scoring.pivot_table(index='education_id', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_edu_pur_pc_debt = pivot_edu_pur_debt / pivot_edu_pur_no_debt
pivot_edu_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
education_id,,,,,,
0,0.064797,0.045551,0.053171,0.059140,0.018750,0.045151
1,0.103300,0.077522,0.082971,0.104672,0.074519,0.093125
2,0.104575,0.113636,0.080000,0.091603,0.043478,0.075000
3,0.109091,0.142857,0.106383,0.090909,0.000000,0.142857
4,NaN,0.000000,0.000000,0.000000,NaN,NaN

Что видим: 
* Интересно, что при том что люди с СО берут образовательные кредиты чаще, выплачивают они их хуже. Тут действует все та же гипотеза - они берут кредит чтобы получить ВО, и пока они студенты - у них с большей вероятностью есть трудности с доходом и следовательно выплатами. Мы естественно пердполагаем что это работающие студенты, которые в выборке фигурируют как сотрудники (кстати, самые плохие плательщики в своей категории), а не как студенты (студент мы помним был один :).
* Не зависимо от образования, заемщики лучше всего возвращают кредиты за жилье - все стандартно

#### Цели кредита в зависимости от пола

Посмотрим какие кредиты берут заемщики в зависимости от пола.

In [156]:
pivot_gen_pur = df_scoring.pivot_table(index='gender', columns='purpose_lemma', values='debt', aggfunc='count')

pivot_gen_pur['total'] = pivot_gen_pur[purposes].sum(axis=1)
pivot_gen_pur = pivot_gen_pur[purposes].div(pivot_gen_pur.total, axis=0)
pivot_gen_pur['total'] = pivot_gen_pur[purposes].sum(axis=1)

pivot_gen_pur

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба,total
gender,,,,,,,
F,0.202443,0.177084,0.294450,0.187728,0.027931,0.110365,1.0
M,0.199086,0.184965,0.295722,0.184965,0.029904,0.105358,1.0
XNA,NaN,NaN,1.000000,NaN,NaN,NaN,1.0

Берут одни и те же кредиты, в примерно одинаковом соотношении. Посмотрим процент должников по каждому виду кредита.

In [157]:
pivot_gen_pur_debt = df_scoring.pivot_table(index='gender', columns='purpose_lemma', values='debt', aggfunc='sum')
pivot_gen_pur_no_debt = df_scoring.pivot_table(index='gender', columns='purpose_lemma', values='debt', aggfunc='count')
pivot_gen_pur_pc_debt = pivot_gen_pur_debt / pivot_gen_pur_no_debt
pivot_gen_pur_pc_debt

purpose_lemma,автомобиль,жилье,недвижимость,образование,ремонт,свадьба
gender,,,,,,
F,0.082569,0.065752,0.062591,0.078767,0.058824,0.069903
M,0.116829,0.082335,0.101124,0.122006,0.055556,0.102497
XNA,NaN,NaN,0.000000,NaN,NaN,NaN

Что видим: 
* Женщины платят лучше чем мужчины по всем видам кредитов.
* Обе группы лучше всего платят за жилье и недвижимость, а хуже всего за образование и авто. Причем в мужской группе чаще как раз не платят за образование, а в женской - за авто.

#### Вывод

Мы выяснили, что рассматривая комбинацию параметров, а не один параметр, можно обнаружить более интересные и неочевидные закономерности. Но пока у нас недостаточно опыта и знаний, чтобы комбинировать больше чем два параметра, и такой ручной перебор занял бы у нас очень много времени. Некоторые неочевидные вещи все же удалось заметить:

**Вот на что банку стоит обратить внимание:** 

1. Самые худшие показатели по выплатам из всех комбинаций что мы рассмотрели:
    
    - ~15% должников (Если семейное положение = гражданский брак И цель кредита = образование)
    - ~13% должников (Если возраст = молодые И цель кредита 0 = образование)  


2. Самые лучшие показатели по выплатам из всех комбинаций что мы рассмотрели (~4.5% должников):
    - Если образование = высшее И цель кредита = свадьба
    - Если тип занятости = пенсионеры И цель кредита = недвижимость
    - Если возраст = зрелые И цель кредита = недвижимость  


3. Ранее мы видели, что в среднем хуже всего выплачивают кредиты за авто, а лучше всего за жилье.  
    Из тех комбинаций, которые мы рассмотрели:  
    - Худший показатель по выплате за авто у заемщиков в гражданском браке: ~13% должников
    - Лучший показатель по выплате за жилье у заемщиков с высшим образованием: ~4,5% должников  


4. Высокий доход не означает одинаково хороший процент возврата по всем видам кредита

### Комбинации самых благонадежных и неблагонадежных заемщиков

Цель этого раздела скорее любопытствование. Интересно посмотреть, предствлены ли вообще в выборке заемщики с самым лучшим и самым худшим профилем, и если да, то в каком соотношении (и ради самопроверки глянуть какой процент должников среди лучших и худших). Вызовем наш сводный ДФ из данных, которые мы собрали

In [158]:
summary

      parameter                  worst   worst_%             best    best_%
0   children_id                      1  0.092610                0  0.076392
1        family  Не женат / не замужем  0.098138  женат / замужем  0.076468
2  income_class              ниже сред  0.092308          богатые  0.072530
3       purpose             автомобиль  0.094101            жилье  0.071560
4   income_type              сотрудник  0.096724        пенсионер  0.057462
5     age_class                молодые  0.109923           зрелые  0.056840
6     education                среднее  0.091085           высшее  0.053185
7        gender                      M  0.103420                F  0.070934

Теперь отфильтруем ДФ так, чтобы все параметры имели худшие показатели.

In [159]:
stop_list = df_scoring[(df_scoring['children_id'] == 1)
                       & (df_scoring['family_status_id'] == 4)
                       & (df_scoring['income_class'] == 'ниже сред')
                       & (df_scoring['purpose_lemma'] == 'автомобиль')
                       & (df_scoring['income_type'] == 'сотрудник')
                       & (df_scoring['age_class'] == 'молодые')
                       & (df_scoring['education_id'] == 1)
                       & (df_scoring['gender'] == 'M')
                      ]

len(stop_list)

0

Таких не было. Возможно это не случайно. Отфильтруем теперь комбинацию с лучшими параметрами.

In [160]:
welcome_list = df_scoring[(df_scoring['children_id'] == 0)
                          & (df_scoring['family_status_id'] == 0)
                          & (df_scoring['income_class'] == 'богатые')
                          & (df_scoring['purpose_lemma'] == 'жилье')
                          & (df_scoring['income_type'] == 'пенсионер')
                          & (df_scoring['age_class'] == 'зрелые')
                          & (df_scoring['education_id'] == 0)
                          & (df_scoring['gender'] == 'F')
                         ]

len(welcome_list)

14

Целых 14. Для такого узкого запроса это не так мало. Посмотрим ради интереса сколько должников

In [161]:
welcome_list['debt'].sum()

1

In [162]:
welcome_list['debt'].sum() / len(welcome_list)

0.07142857142857142

1 из 14 (7%)

#### Вывод

* Заемщиков с худшей комбинацией параметров в базе нет, а с лучшей целых 14. Все выглядит так, что банк понимает, кому выдавать, а кому не выдавать кредит

## Общий вывод

1. Мы обработали предоставленный банком .csv файл.
    * Данные в файле были не идеальны, требовалось заполнение пропущенных значений, замена типов данных и удаление дубликатов, что мы и сделали. 
    * Мы категоризировали данные и сделали таблицу удобной для просмотра и анализа.

2. Мы увидели, что не все категории заемщиков представлены достаточно хорошо. Хуже всех были представлены:
    * по семейному положению: вдовцы / вдовы + разведенные
    * по количеству детей: заемщики с 3 детьми и более
    * по уровню дохода: зажиточные
    * по цели кредита: ремонт  
    
    По данным категориям нельзя сделать статистически обоснованные выводы, и рекомендуется провести анализ на более крупных выборках.

3.   Мы выяснили, что задолженность по кредиту в целом не зависит напрямую от какого-то одного фактора, а зависит скорее от совокупности разных факторов, которые банк должен учитвать при выдаче кредита:  
     Если сравнивать абсолютно любые группы по абсолютно любому (но одному) показателю - то всегда среди них будет лучшая и худшая группа. Нельзя рекомендовать банку увеличивать лучшие или исключать худшие **группы** только на основании одного показателя. Можно рекомендовать провести более глубокий анализ с помощью более продвинутых методов, и выявить лучшие и худшие **комбинации**, и далее активно выдавать кредиты лучшим, и не ввязываться в худшие. Некоторые из таких комбинаций мы выявили.

4. Мы выяснили, что существует корреляция (но не обязательно причинно-следственная связь) между различными параметрами и возвратом кредита в срок. Приведем эти данные в наглядной форме таблицы. В столбцах `worst и worst_%` приведены худшие категории заемщиков среди выделенных групп и их показатели по выплатам, а лучшие приведены в столбцах `worst и worst_%`. Комбинация параметров в столбце `worst` является крайне нежелательной для банка, в столбце `best` - наиболее желательной.

In [163]:
summary

      parameter                  worst   worst_%             best    best_%
0   children_id                      1  0.092610                0  0.076392
1        family  Не женат / не замужем  0.098138  женат / замужем  0.076468
2  income_class              ниже сред  0.092308          богатые  0.072530
3       purpose             автомобиль  0.094101            жилье  0.071560
4   income_type              сотрудник  0.096724        пенсионер  0.057462
5     age_class                молодые  0.109923           зрелые  0.056840
6     education                среднее  0.091085           высшее  0.053185
7        gender                      M  0.103420                F  0.070934

5.  Мы полагаем, что цель банка не в том, чтобы полностью избавиться от должников - это было бы нереально. Цель скорее в том, чтобы диверсифицировать свои риски, соблюдая баланс между более благонадежными и менее благонадежными комбинациями заемщиков, таким образом, чтобы в конечном итоге это было выгодно для банка. Исходя из того что мы увидели - банк уже проводит неплохую работу в этом направлении.